<a href="https://colab.research.google.com/github/Mehrabwv/python/blob/main/Welcome_to_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
weight1= input('What is your weight now?: ')
increase1= input('How much increase do you expect?: ')
year1= input('In how many years?: ')

weight = int(weight1)
increase = int(increase1)
yeare = int(year1)
year2 = yeare


for year2 in range(0,year2):
  moonweight=(weight+(increase*year2))*0.165
  print(year2,moonweight)

What is your weight now?: 1
How much increase do you expect?: 1
In how many years?: 1
0 0.165

# ***Python For Kids***

# Chapter 1 - Not all snakes slither
 (Basics)

In [ ]:
print('How are you?')

How are you?

In [ ]:
print("hello world")

hello world

In [ ]:
print('''hello world''')

hello world

# Chapter 2 - Calculations and Variables
Calculations

In [ ]:
8*3.57   #8 times 3.57 = 28.56

28.56

Pg 16 - puzzle

In [ ]:
10*365

3650

In [ ]:
20+3650

3670

In [ ]:
3*52

156

In [ ]:
3670-156

3514

BODMAS


add
5 to 30, and then multiply the result
by 20

In [ ]:
(5+30)*20

700

 Adding 5 to 30 gives 35.

 Multiplying 35 by 20 gives 700.

 Dividing 700 by 10 gives the final answer of 70.

In [ ]:
 ((5 + 30) * 20) / 10

70.0

Variables

In [ ]:
fred=100
print(fred)

100

In [ ]:
fred=100
john=fred+5
print(john)

105

In [ ]:
# You cant start a variable with a number!
number_of_coins = 200
print(number_of_coins)

200

Pg 21 - more info

In [ ]:
 20 + 10 * 365 - 3 * 52

3514

In [ ]:
found_coins = 20
magic_coins = 10
stolen_coins = 3

found_coins + magic_coins * 365 - stolen_coins * 52

3514

In [ ]:
found_coins = 20
magic_coins = 10

stolen_coins = 2   # Very easy to change the variable if neeeded

found_coins + magic_coins * 365 - stolen_coins * 52

3566

# Chapter 3 - Strings, Lists, Tuples, and Maps

A string is a text

In [ ]:
fred = "What is 1 + 1?"
print(fred)

What is 1 + 1?

In [ ]:
#To create multiple line string, use '''
fred = '''How do dinosaurs pay their bills?
With tyrannosaurus checks!'''
print(fred)

How do dinosaurs pay their bills?
With tyrannosaurus checks!

In [ ]:
silly_string = '''He said, "Aren't can't shouldn't wouldn't."'''
print(silly_string)

He said, "Aren't can't shouldn't wouldn't."

In [ ]:
single_quote_str = 'He said, "Aren\'t can\'t shouldn\'t wouldn\'t."'
print(single_quote_str)

He said, "Aren't can't shouldn't wouldn't."

In [ ]:
myname = 'mehrab'
string = 'hello my name is %s '    #Dont forget to put %s or error will occur
print(string % myname)

hello my name is mehrab

In [ ]:
nock = 'what is %s + %s?'
print(nock %(1,5))

what is 1 + 5?

Multiplying strings  - pg 31

In [ ]:
print(10*'hello ')

hello hello hello hello hello hello hello hello hello hello

Strings

In [ ]:
mylist = 'water, food, air, games, house, bed, tv, soap'     # This is a variable
print(mylist)

water, food, air, games, house, bed, tv, soap

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
print(mylist)

['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
print(mylist[2])    # Although it says no.2 , the no. 3 item is shown at the list starts with 0

air

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
print(mylist[0])

water

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']

mylist[2] = 'oxygen'     # It is very easy to change the item (from air to oxygen)     -> Replacing
print(mylist)

['water', 'food', 'oxygen', 'games', 'house', 'bed', 'tv', 'soap']

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
print(mylist[1:4])

['food', 'air', 'games']

In [ ]:
nums = ['1','3','5','7','9']
words =['one','three','five','seven','nine']
print(nums + words)

['1', '3', '5', '7', '9', 'one', 'three', 'five', 'seven', 'nine']

In [ ]:
nums = ['1','3','5','7','9']
words =['one','three','five','seven','nine']
print(nums[1] + words[1])

3three

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']

mylist.append('cook')      # It is very easy to add items to the list
print(mylist)

['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap', 'cook']

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']

del mylist[7]     # It is also very easy to delete a item from the list
print(mylist)

['water', 'food', 'air', 'games', 'house', 'bed', 'tv']

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
nums = [1,2,3,4]
add = nums + mylist

print(add)

[1, 2, 3, 4, 'water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']

In [ ]:
words = ['a','b']

print(words * 5)

['a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'a', 'b']

note that you cannot divide or subtract a list 

and you can only add a list to a list but not another variable, number or word

**Tuples are like lists, however items cannot be added or removed with a code**

In [ ]:
what = (0,1,2,3,4)    # It is used because it is sometimes more useful to not be 
print(what[3])        # able to change items inside a tuples easily

3

Python map

In [ ]:
favorite_sports = ['Ralph Williams, Football',    # This is a list
 'Michael Tippett, Basketball',
 'Edward Elgar, Baseball',
 'Rebecca Clarke, Netball',
 'Ethel Smyth, Badminton',
 'Frank Bridge, Rugby']

print(favorite_sports)

['Ralph Williams, Football', 'Michael Tippett, Basketball', 'Edward Elgar, Baseball', 'Rebecca Clarke, Netball', 'Ethel Smyth, Badminton', 'Frank Bridge, Rugby']

In [ ]:
 favorite_sports = {'Ralph Williams' : 'Football',   # This is a map
 'Michael Tippett' : 'Basketball',
 'Edward Elgar' : 'Baseball',
 'Rebecca Clarke' : 'Netball',
 'Ethel Smyth' : 'Badminton',    # Uses {}
 'Frank Bridge' : 'Rugby'}

 print(favorite_sports)

{'Ralph Williams': 'Football', 'Michael Tippett': 'Basketball', 'Edward Elgar': 'Baseball', 'Rebecca Clarke': 'Netball', 'Ethel Smyth': 'Badminton', 'Frank Bridge': 'Rugby'}

In [ ]:
 favorite_sports = {'Ralph Williams' : 'Football',  
 'Michael Tippett' : 'Basketball',
 'Edward Elgar' : 'Baseball',
 'Rebecca Clarke' : 'Netball',
 'Ethel Smyth' : 'Badminton',    # You can easily find the sport
 'Frank Bridge' : 'Rugby'}

 print(favorite_sports['Rebecca Clarke'])

Netball

In [ ]:
favorite_sports = {'Ralph Williams' : 'Football',  
 'Michael Tippett' : 'Basketball',
 'Edward Elgar' : 'Baseball',
 'Rebecca Clarke' : 'Netball',
 'Ethel Smyth' : 'Badminton',    
 'Frank Bridge' : 'Rugby'}

del favorite_sports['Frank Bridge']    # Easy to delete a name/item

print(favorite_sports)

{'Ralph Williams': 'Football', 'Michael Tippett': 'Basketball', 'Edward Elgar': 'Baseball', 'Rebecca Clarke': 'Netball', 'Ethel Smyth': 'Badminton'}

In [ ]:
favorite_sports = {'Ralph Williams' : 'Football',  
 'Michael Tippett' : 'Basketball',
 'Edward Elgar' : 'Baseball',
 'Rebecca Clarke' : 'Netball',
 'Ethel Smyth' : 'Badminton',    
 'Frank Bridge' : 'Rugby'}

favorite_sports['Ethel Smyth']= 'Hockey'

print(favorite_sports)

{'Ralph Williams': 'Football', 'Michael Tippett': 'Basketball', 'Edward Elgar': 'Baseball', 'Rebecca Clarke': 'Netball', 'Ethel Smyth': 'Hockey', 'Frank Bridge': 'Rugby'}

In [ ]:
favorite_sports = {'Ralph Williams' : 'Football',  
 'Michael Tippett' : 'Basketball',
 'Edward Elgar' : 'Baseball',
 'Rebecca Clarke' : 'Netball',
 'Ethel Smyth' : 'Badminton',    
 'Frank Bridge' : 'Rugby'}           # Adding two maps does not work

favorite_colors = {'Malcolm Warner' : 'Pink polka dots',
 'James Baxter' : 'Orange stripes',
 'Sue Lee' : 'Purple paisley'}

# print(favorite_sports + favorite_colors)

Programming puzzles (pg 41)



***1: Favorites***

Make a list of your favorite hobbies and give the list the variable
name games. Now make a list of your favorite foods and name the
variable foods. Join the two lists and name the result favorites.
Finally, print the variable favorites.

In [ ]:
games = ['videogames','badminton','cycling']
foods = ['pizza','burger','friedchicken']
favorites = games + foods
print(favorites)

['videogames', 'badminton', 'cycling', 'pizza', 'burger', 'friedchicken']

***2: Counting Combatants***

If there are 3 buildings with 25 ninjas hiding on each roof and
2 tunnels with 40 samurai hiding inside each tunnel, how many
ninjas and samurai are about to do battle? (You can do this with
one equation in the Python shell.)

In [ ]:
print((3*25)+(2*40))

155

***3: Greetings!***

Create two variables: one that points to your first name and
one that points to your last name. Now create a string and use
placeholders to print your name with a message using those two
variables, such as “Hi there, Brando Ickett!”

In [ ]:
name1 ='Mehrab'
name2 ='Rahman'
string ='Hi there, %s %s'
print(string %(name1,name2) )

Hi there, Mehrab Rahman

# Chapter 4 - Drawing  with turtles

 ***Skipped***    - hard to use turtle in colab

In the
world of Python, a turtle is a small, black arrow that
moves slowly around the screen. 

Actually, considering
that a Python turtle leaves a trail as it moves around
the screen, it’s actually less like a turtle and more like
a snail or a slug.

The turtle is a nice way to learn some of the basics
of computer graphics, so in this chapter, we’ll use a
Python turtle to draw some simple shapes and lines.

***Using Python’s Turtle Module***

A module in Python is a way of
providing useful code to be used
by another program (among other
things, the module can contain
functions we can use).

We’ll learn
more about modules in Chapter 7.

Python has a special module called
turtle that we can use to learn
how computers draw pictures on a
screen.

The turtle module is a way
of programming vector graphics,
which is basically just drawing
with simple lines, dots, and curves.
Let’s see how the turtle works. 

First, tell Python to
use the turtle by importing the turtle module, as follows:

In [2]:
import turtle

Importing a module tells Python that you want to use it.
Creating a Canvas
Now that we have imported the turtle module, we need to create a
canvas—a blank space to draw on, like an artist’s canvas. To do so,
we call the function Pen from the turtle module, which automatically creates a canvas. Enter this into the Python shell:

+ ***Creating a Canvas***

Now that we have imported the turtle module, we need to create a
canvas—a blank space to draw on, like an artist’s canvas.

To do so,
we call the function Pen from the turtle module, which automatically creates a canvas.

Enter this into the Python shell:

In [4]:
import turtle
t = turtle.Pen()   # Should pop out a new windows.  (if not responding -> error so use command promt)

You should see a blank box (the canvas), with an arrow in the
center.

The arrow in the middle of the screen is the turtle, and you’re
right—it isn’t very turtle-like.

If the Turtle window appears behind the Python Shell window,
you may find that it doesn’t seem to be working properly.

When you
move your mouse over the Turtle window, the cursor turns into an
spinning blue circle

This could happen for several reasons: you haven’t started the
shell from the icon on your desktop (if you’re using Windows or a
Mac), you clicked IDLE (Python GUI) in the Windows Start menu,

or IDLE isn’t installed correctly. Try exiting and restarting the
shell from the desktop icon. If that fails, try the code on command prompt and not on a IDLE

+ ***Moving the Turtle***

You send instructions to the
turtle by using functions
available on the variable t
we just created, similar to
using the Pen function in the
turtle module.

For example,
the forward instruction tells the turtle to move forward.

To tell the
turtle to advance 50 pixels, enter the following command:

In [3]:
import turtle 
t = turtle.Pen()

t.forward(50)

You should be able to see a arrow.

The turtle has moved forward 50 pixels.

A pixel is a single
point on the screen—the smallest element that can be represented.

Everything you see on your computer monitor is made up of pixels,
which are tiny, square dots.

If you could zoom in on the canvas
and the line drawn by the turtle, you would be able to see that
the arrow representing the turtle’s path is just a bunch of pixels.

That’s simple computer graphics.

Now we’ll tell the turtle to turn left 90 degrees with the following command:

In [4]:
import turtle 
t = turtle.Pen()
t.forward(50)

t.left(90)

The arrownead should have turned 90 degrees to the left (straight up/0 degrees) + the line previously drawn

0 degrees is straight up 

90 degrees is right

180 degrees is straight down

270 degrees is left

In python you tell turtle to turn by how much degrees

Now we’ll draw a square:

In [ ]:
import turtle 
t = turtle.Pen()
t.forward(50)
t.left(90)

t.forward(50)
t.left(90)
t.forward(50)
t.left(90)
t.forward(50)
t.left(90)

Your turtle should have drawn a square and should now be
facing in the same direction it started.

To erase the canvas, enter reset. This clears the canvas and
puts the turtle back at its starting position.

In [2]:
t.reset()

You can also use clear, which just clears the screen and leaves
the turtle where it is.

In [ ]:
 t.clear()

You can also use clear, which just clears the screen and leaves
the turtle where it is.

We can also turn our turtle right or move it backward.

We can
use up to lift the pen off the page (in other words, tell the turtle to
stop drawing), and down to start drawing.

These functions are written in the same way as the others we’ve used.

Let’s try another drawing using some of these commands. 

This
time, we’ll have the turtle draw two lines. Enter the following code:

In [ ]:
t.reset()
t.backward(100)
t.up()
t.right(90)
t.forward(20)
t.left(90)
t.down()
t.forward(100)

First, we reset the canvas and move the turtle back
to its starting position with
t.reset().

Next, we move the
turtle backward 100 pixels with
t.backward(100), and then use
t.up() to pick up the pen and
stop drawing.

Then, with the command
t.right(90), we turn the turtle
right 90 degrees to point down,
toward the bottom of the screen,
and with t.forward(20), we move
forward 20 pixels. 

Nothing is drawn because of the use of up command on the third line.

We turn the turtle left 90 degrees to face
right with t.left(90), and then with the down command, we tell the
turtle to put the pen back down and start drawing again.

Finally,
we draw a line forward, parallel to the first line we drew, with
t.forward(100).

The two parallel lines we’ve drawn end up looking
like an equal sign =

***Programming Puzzles***   - pg 51

***1: A Rectangle***

Create a new canvas using the turtle module’s Pen function and
then draw a rectangle.

In [1]:
import turtle
t = turtle.Pen()

t.forward(100)
t.left(90)
t.forward(50)
t.left(90)
t.forward(100)
t.left(90)
t.forward(50)
t.left(90)

***2: A Triangle***

Create another canvas, and this time, draw a triangle. Look back
at the diagram of the circle with the degrees (“Moving the Turtle”
on page 46) to remind yourself which direction to turn the turtle
using degrees.

In [1]:
import turtle
t = turtle.Pen()

t.forward(100)
t.left(90)
t.forward(100)
t.left(135)
t.forward(141)      # Should form a right-angled triangle
t.left(135)

***3: A Box Without Corners***

Write a program to draw the four lines shown here (the size isn’t
important, just the shape):

In [1]:
import turtle
t = turtle.Pen()

t.up()
t.forward(50)
t.down()
t.forward(100)
t.up()
t.forward(50)
t.left(90)
t.forward(50)
t.down()
t.forward(100)
t.up()
t.forward(50)
t.left(90)
t.forward(50)
t.down()
t.forward(100)
t.up()
t.forward(50)
t.left(90)
t.forward(50)
t.down()
t.forward(100)
t.up()
t.forward(50)
t.left(90)
t.forward(50)

# Chapter 5 - Asking Questions with if and else

**If Statments**

In [ ]:
age = 14       # This is an 'if' statement
if age > 10:      # Don't forgetg to add the semicolon :
  print('you are very old indeed')     # Always leave four spaces/tab before print or else
                                       # syntax error will occur as the code does not alline

you are very old indeed

In [ ]:
 age = 9

 if age < 10:
   print('You are too young!')
   print('You shall not pass!')
   print('Why are you still here?')

You are too young!
You shall not pass!
Why are you still here?

In [ ]:
age = 10
if age == 10:
  print('perfect!')

perfect!

In [ ]:
age = 14
if age >= 14:
  print('What is 123+123')

What is 123+123

***If-then-Else Statement***

In [ ]:
age = 10
if age <= 10:
  print('You are too young')
else:                                     # Dont forget : after 'else'
  print('You can keep on readinng this')

You are too young

In [ ]:
age = 14
if age <= 10:
  print('You are too young')
else:                                     
  print('You can keep on readinng this')

You can keep on readinng this

***if and elif Statements***

elif means else if.      
This is used as elif can be repeated unlike if

In [ ]:
joke = 0                   # Joke list

if joke == 1:
  print('What’s the best thing about Switzerland?')
  print('I don’t know, but the flag is a big plus.')
elif joke == 2:
  print('Why do we tell actors to “break a leg?”')
  print('Because every play has a cast.')
elif joke == 3:
  print('Heard about the new restaurant called Karma?')
  print('There’s no menu: You get what you deserve.')
elif joke == 4:
  print('Did you hear about the actor who fell through the floorboards?')
  print('He was just going through a stage.')
elif joke == 5:
  print('Did you hear about the claustrophobic astronaut?')
  print('He just needed a little space.')
elif joke == 6:
  print('''Why don’t scientists trust atoms? 
Because they make up everything.''')
elif joke == 7:
  print('''Why should the number 288 never be mentioned?
It’s two gross. - 1 gross is 144''')
else: 
  print('Joke list from 1 to 7')

Joke list from 1 to 7

You can use 'or' and 'and' to produce simpler and shorter codes

In [ ]:
age = 10       

if age == 10 or age == 11 or age == 12 or age == 13:    
  print('What is 13 + 49 + 84 + 155 + 97? A headache!')
else:
  print('You do not meet the age requirements!')

What is 13 + 49 + 84 + 155 + 97? A headache!

In [ ]:
age =  12

if age >= 10 and age <= 15:
  print('So you are interested to learn coding?')
else:
  print('Sorry your age does not meet the requirements :(')

So you are interested to learn coding?

0 is a number. None is not a number

In [ ]:
num = None
print(num)

None

In [ ]:
num = None
if num == None:
  print('None does not have a value')

None does not have a value

You cannot add a string to if

In [ ]:
num = 10
if num == 10: 
  print('This is a number')

This is a number

In [ ]:
num = '10'      # Nothing runs as this is a string and not a number 
if num == 10:        
  print('This is a string')

To solve this problem, we need to convert it using *int*.  This is useful in the future.   *int* converts a string into a number

In [ ]:
num = '10'      
new_num = int(num)    # Use int(-)

if new_num == 10:        
  print('This is a string')

This is a string

To convert a number into a string, we use *str*

In [ ]:
num = 10
new_num = str(num)

print(new_num + ' wow')   # Numbers and strings dont go together so we can see that new num is a string

10 wow

However, you will get an error if you try to convert a decimal as it only accepts integer(whole no.). So you must use float

In [ ]:
num = '10.5'
new_num = float(num)
print(new_num)

10.5

You will get a ValueError if you try converting a string that does not contain a number

***Programming puzzle - pg 65***

***1: Are You Rich?***

What do you think the following code will do? Try to figure out
the answer without typing it into the shell, and then check your
answer.

In [ ]:
money = 2000
if money > 1000:
 print("I'm rich!!")
else:
 print("I'm not rich!!")
 print("But I might be later...")

I'm rich!!

The programme checks if you are rich. If you have more than 1000 money, you are considered rich.

***2: Twinkies!***

Create an if statement that checks whether a number of Twinkies
(in the variable twinkies) is less than 100 or greater than 500. Your
program should print the message “Too few or too many” if the
condition is true.

In [ ]:
twinkies = 500
if twinkies < 100 or twinkies > 500:
  print('Too few or too many')

***3: Just the Right Number***

Create an if statement that checks whether the amount of money
contained in the variable money is between 100 and 500 or between
1,000 and 5,000.

In [ ]:
money = 1005
if money > 100 and money < 500:
  print('Money between 100 and 500')
elif money > 1000 and money < 5000:
  print('Money between 1000 and 5000')

Money between 1000 and 5000

***4: I Can Fight Those Ninjas***
Create an if statement that prints the string “That’s too many”
if the variable ninjas contains a number that’s less than 50, prints
“It’ll be a struggle, but I can take ’em” if it’s less than 30, and
prints “I can fight those ninjas!” if it’s less than 10. You might
try out your code with: ninjas = 5

In [ ]:
ninjas = 9
if ninjas < 50 and ninjas >= 30:
  print('That’s too many')
elif ninjas < 30 and ninjas >= 10:
  print('''It’ll be a struggle, but I can take ’em''')
elif ninjas < 10:
  print('I can fight those ninjas!')

I can fight those ninjas!

# Chapter 6 - Going loopy

for loops repeat a set of codes a number of times until it is complete. This can help us reduce the amount of codes we need to write if we need to repeat a set of codes multiple times.

In [ ]:
for x in range(0,5):   # Don't forget :
  print('hello')

hello
hello
hello
hello
hello

In [ ]:
print(list(range(10,20)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

The code is telling Python to 

start counting from 0 and stop before reaching 5 and 

for each number we count, store the value in the variable x.

In [ ]:
for x in range(0,5):
  print('hello %s' % x)

hello 0
hello 1
hello 2
hello 3
hello 4

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
for i in mylist:    # The code is asking Python to store each mylist variable in i
  print(i)

water
food
air
games
house
bed
tv
soap

In [ ]:
foodlist = ['water','mango','apple']
for i in foodlist:
  print(i)    # This command prints two of each item in the list
  print(i)    # Dont forget about indentation error

water
water
mango
mango
apple
apple

In [ ]:
found_coins = 20
magic_coins = 70
stolen_coins = 3
coins = found_coins
for week in range(1, 53):
  coins = coins + magic_coins - stolen_coins
  print('Week %s = %s' % (week, coins))

Week 1 = 87
Week 2 = 154
Week 3 = 221
Week 4 = 288
Week 5 = 355
Week 6 = 422
Week 7 = 489
Week 8 = 556
Week 9 = 623
Week 10 = 690
Week 11 = 757
Week 12 = 824
Week 13 = 891
Week 14 = 958
Week 15 = 1025
Week 16 = 1092
Week 17 = 1159
Week 18 = 1226
Week 19 = 1293
Week 20 = 1360
Week 21 = 1427
Week 22 = 1494
Week 23 = 1561
Week 24 = 1628
Week 25 = 1695
Week 26 = 1762
Week 27 = 1829
Week 28 = 1896
Week 29 = 1963
Week 30 = 2030
Week 31 = 2097
Week 32 = 2164
Week 33 = 2231
Week 34 = 2298
Week 35 = 2365
Week 36 = 2432
Week 37 = 2499
Week 38 = 2566
Week 39 = 2633
Week 40 = 2700
Week 41 = 2767
Week 42 = 2834
Week 43 = 2901
Week 44 = 2968
Week 45 = 3035
Week 46 = 3102
Week 47 = 3169
Week 48 = 3236
Week 49 = 3303
Week 50 = 3370
Week 51 = 3437
Week 52 = 3504

In [ ]:
raws1 = 20
raws2 = 19
for x in range(0,10):
  totals = (raws1*x)+(raws2*x)
  print( x + totals)

0
40
80
120
160
200
240
280
320
360

While loops ->

In [ ]:
step = 0
while step < 10:   # Command for while loop  
                    # This programme will run until step reacher 9 (< 10)
  step = step + 1   # Pythin will execute the rest of the command  until step reaches 9
  print(step)

1
2
3
4
5
6
7
8
9
10

In [ ]:
step = 0
while step < 10:
  step = step +1
  print(step)       # break is the keyword to jump out of the loop
  if step == 8:      # In this case the loop will end once step=8 
    break           # The code will stop once it has done 8 loops

1
2
3
4
5
6
7
8

In [ ]:
x = 45 
y = 80         # While loop is usually used together with other variables
while x < 50 and y < 100:
  x = x + 1 
  y = y + 1 
  print(x,y)

46 81
47 82
48 83
49 84
50 85

***1: The Hello Loop***

What do you think the following code will do? First, guess what
will happen, and then run the code in Python to see if you were
right.

In [ ]:
for x in range(0, 20):
 print('hello %s' % x)
 if x < 9:
  break

hello 0

The code will say hello 0

it will run once as when x is less than 9 which is when you run x = 0



***2: Even Numbers***

Create a loop that prints even numbers until it reaches your year
of age or, if your age is an odd number, prints out odd numbers
until it reaches your age. For example, it might print out something like this:

2

4

6

8

10

12

14

In [ ]:
x = 0
while x < 100:
  x = x + 2
  print(x)
  if x == 14:
    break

2
4
6
8
10
12
14

***3: My Five Favorite Ingredients***
Create a list containing five different sandwich ingredients, such
as the following:

*ingredients = ['snails', 'leeches', 'gorilla belly-button lint',
 'caterpillar eyebrows', 'centipede toes']*

**Now create a loop that prints out the list (including the numbers):**


1 snails

2 leeches

3 gorilla belly-button lint

4 caterpillar eyebrows

5 centipede toes

In [ ]:
ingredients = ['snails', 'leeches', 'gorilla belly-button lint', 'caterpillar eyebrows', 'centipede toes']

for x in range(0,5):
  y = x 
  x = x + 1
  print( x, ingredients[y])

1 snails
2 leeches
3 gorilla belly-button lint
4 caterpillar eyebrows
5 centipede toes

***4: Your Weight on the Moon***

If you were standing on the moon right now, your weight would be
16.5 percent of what it is on Earth. You can calculate that by multiplying your Earth weight by 0.165.
If you gained a kilo in weight every year for the next 15 years,
what would your weight be when you visited the moon each year
and at the end of the 15 years? Write a program using a for loop
that prints your moon weight for each year.

In [ ]:
weight = 60
for x in range(1,16):
  print( x, (weight+x*1)*0.165)

1 10.065000000000001
2 10.23
3 10.395000000000001
4 10.56
5 10.725
6 10.89
7 11.055
8 11.22
9 11.385
10 11.55
11 11.715
12 11.88
13 12.045
14 12.21
15 12.375

# Chapter 7 - Recycling Your Code with Functions and Modules

Functions are a set of code that tell Python to do something. They are one way to reuse code — you can use functions in your
programs again and again.   ***It is like a set of instructions***

In [ ]:
def testfunc(myname):   # You start a function by writing def, then the name you want to give the 
                        # function then write the parametre (special variable) inside the bracket
 print('hello %s' % myname)      # After that you give the instructions for what the function
                                 # will do.


testfunc('mehrab')       # Now you write the function name and set values to the parametres

hello mehrab

Parametres are special variables that can only be used inside a function.

In [ ]:
def name(name1,name2):
  print('hello %s %s' %(name1,name2))

name('mehrab','rahman')

hello mehrab rahman

In [ ]:
def savings(pocket_money, paper_route, spending):
 return pocket_money + paper_route - spending   # Return is used to return the function

print(savings(10,15,20))

5

In [ ]:
def vartest():         # This is a function that uses variables instead of parametres
  var1 = 10            # However this variable still cant be used outside of the function
  var2 = 20
  return var1 + var2

print(vartest())

30

In [ ]:
var3 = 30
def vartest():
  var1 = 10
  var2 = 20
  return var1 + var2 + var3

print(vartest())

60

In [ ]:
def moonweight(weight,increase,year):
  return (weight+increase*year)*0.165

print(moonweight(60,1,15))

12.375

In [ ]:
def moonweight(weight,increase,year):
  for x in range(1,year+1):
    monw = (weight+increase*x)*0.165
    print('year %s = %s' %(x,monw))

moonweight(60,1,15)

year 1 = 10.065000000000001
year 2 = 10.23
year 3 = 10.395000000000001
year 4 = 10.56
year 5 = 10.725
year 6 = 10.89
year 7 = 11.055
year 8 = 11.22
year 9 = 11.385
year 10 = 11.55
year 11 = 11.715
year 12 = 11.88
year 13 = 12.045
year 14 = 12.21
year 15 = 12.375

***Modules***

Modules are used to group functions, variables, and other things
together into larger, more powerful programs. Some modules are
built in to Python, and you
can download other modules
separately.

In [ ]:
import time           # For time
print(time.asctime())

Sun Dec  5 05:47:54 2021

In [ ]:
import sys                               # Use this in other IDLE
print(sys.stdin.readline())              # Colab cannot use this

name = input('What is your name: ')      # Colab uses input only
print('hello %s'% name)

What is your name: m
hello m

In [ ]:


def silly_age_joke():
 age1 = input('How old are you?: ')
 age = int(age1)                    # Use int to convert the string into a integer
 if age >= 10 and age <= 13:
  print('What is 13 + 49 + 84 + 155 + 97? A headache!')
 else:
  print('Huh?')

silly_age_joke()

How old are you?: 14
Huh?

Programming puzzles have been done above  (pg 90)

# Chapter 8 - How to Use Classes and Objects

Classes are a category of things

Objects are items that can be catagorised into classes

Classes are used to organise things into classes

In [ ]:
class Things:    # Things is the name of the class
  pass        # pass to let Python know that we are not going to give any more information

class Inanimate(Things):  # If a class is part of another class it is a children
  pass                    # and the other class is the parent. In this case Inanimate is the 
                          # children of Things and Things is the parent
class Animate(Things):
  pass

class Animals(Animate):
  pass 

class Mammles(Animals):
  pass

class Dog(Mammles):
  pass


stan = Dog()       # The name of the dog is stan. This is how we add an object to a class
                   # This code tells Python to create an object in the

In [ ]:
class Things:             # Refer to pg 95
  pass

class Inanimate(Things):
  pass

class Animate(Things):
  pass

class Animals(Animate):
  def breathe(self):     # Defining a function self parameter is a way for one function 
    print('breathing')   # in the class to call another function in the
                         # class (and in the parent class)
  def move(self):
    print('moving')

  def eat_food(self):
    print('eating food')

class Mammals(Animals):
  def feed_young_with_milk(self):
    pass

class Dog(Mammals):
  def eat_dog_food(self):           # The dog has all the characteristics of animal and mammal
    pass                            # The dog can still use the function of animals and mammal

stan = Dog()
stan.move()


ralph = Dog()     # New object
ralph.move()

moving
moving

In [ ]:

 
class Giraffes:
  def move(self):
   print('move')
  
  def find_food(self):           # You can make a function do another function using self
    self.move()                  # More example in #1 programming puzzle in chap 8
    print("I've found food!")
    self.eat_food()
  def eat_leaves_from_trees(self):
    self.eat_food()
  def dance_a_jig(self):
    self.move()
    self.move()
    self.move()
    self.move()

reginald = Giraffes()
reginald.dance_a_jig()

move
move
move
move

Initializing an object

We initialize an object when we are getting it ready to be used

e.g. when you want to set the number of spots on the dog, we need to initialize it

We need to create a __init __function

The init function is a way to set the properties for an
object when the object is first created, and Python will automatically call this function when we create a new object.

In [ ]:
class Dog:
  def __init__(self,spots):
    self.dog_spots = spots

tom = Dog(100)
print(tom.dog_spots)

dan = Dog(57)
print(dan.dog_spots)

100
57

Programming puzzles - pg 107

***1: The Giraffe Shuffle***

>Add functions to the Giraffes class to move the giraffe’s left and
right feet forward and backward. A function for moving the left
foot forward might look like this:

def left_Foot_Forward(self):

print('left foot forward')

>Then create a function called dance to teach Reginald to dance
(the function will call the four foot functions you’ve just created).
The result of calling this new function will be a simple dance:

reginald = Giraffes()

reginald.dance()

left foot forward

left foot back

right foot forward

right foot back

left foot back

right foot back

right foot forward

left foot forward

In [ ]:

class Giraffes:
  def left_foot_forward(self):
    print('left foot forward')

  def left_foot_back(self):
    print('left foot back')

  def right_foot_forward(self):
    print('right foot forward')

  def right_foot_back(self):
    print('right foor back')


  def dance(self):
    self.left_foot_forward()
    self.left_foot_back()
    self.right_foot_forward()
    self.right_foot_back()
    self.left_foot_back()
    self.right_foot_back()
    self.right_foot_forward()
    self.left_foot_forward()

reginald = Giraffes()
reginald.dance()

left foot forward
left foot back
right foot forward
right foor back
left foot back
right foor back
right foot forward
left foot forward

# Chapter 9 - Python’s Built-in Functions

Python has a large number of functions and modules that are ready-made for use. Python's built in functions do not need to be imported and they are already available inside colab

***The abs Function***

The abs function returns the absolute value of a number (value of a number without itds sign), which is
the value of a number without its sign. For example, the absolute
value of 10 is 10, and the absolute value of –10 is 10.
To use the abs function, simply call it with a number or variable as its parameter, like this:

In [1]:
print(abs(10))

10

In [2]:
print(abs(-10))

10

Example of usage -> When counting the total number to steps taken in a game

In [4]:
steps = -3          # When moving 3 steps left

if abs(steps) > 0:      # If not using abs, if steps < 0 or steps > 0:
  print('Moving')       #                     print('Moving')

Moving

In [5]:
steps = 10          # When moving 10 steps right

if abs(steps) > 0:
  print('Moving')

Moving

***The bool Function***

   The name bool is short for Boolean, the word programmers use to
describe a type of data that can have one of two possible values,
usually either true or false.

   The bool function takes a single parameter and returns either
True or False based on its value. When using bool for numbers, 0
returns False, while any other number returns True. Here’s how
you might use bool with various numbers:

In [6]:
print(bool(0))

False

In [7]:
print(bool(124))

True

In [9]:
print(bool(-12))

True

In [10]:
print(bool(15.67))

True

When you use bool for other values, like strings, it returns False
if there’s no value for the string (in other words, the keyword None
or an empty string). Otherwise, it will return True, as shown here:

In [18]:
print(bool())

False

In [11]:
print(bool(None))

False

In [13]:
print(bool('hello'))

True

In [1]:
print(bool(' '))

True

Example of usage

In [12]:
year = input('Year of birth: ')
if not bool(year.rstrip()):      # If you press enter without typing anything
 print('You need to enter a value for your year of birth')

Year of birth:
You need to enter a value for your year of birth

***The dir Function***

The dir function (short for directory) returns information about any
value.

 Basically, it tells you the functions that can be used with
that value in alphabetical order.


For example, to display the functions that are available for a
list value, enter this:

In [13]:
dir(['a', 'short', 'list'])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

   The dir function works on pretty much anything, including strings, numbers, functions, modules, objects, and classes.

But sometimes the information it returns may not be very useful.

For example, if you call dir on the number 1, it displays a number
of special functions (those that start and end with underscores)
used by Python itself, which isn’t really useful (you can usually
ignore most of them):

In [16]:
dir(1)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

The dir function can be useful when you have a variable and
quickly want to find out what you can do with it. 

For example, run dir using the variable popcorn containing a string value, and you
get the list of functions provided by the string class (all strings are
members of the string class):

In [18]:
popcorn = 'i like popcorn'
dir(popcorn)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

At this point, you could use help to get a short description of
any function in the list.

 Here’s an example of running help against
the upper function:

In [21]:
help(popcorn.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

This code will return a string to uppercase

***The eval Function***

The eval function (short for evaluate) takes a string as a parameter
and runs it as though it were a Python expression. 

For example,
eval('print("wow")') will actually run the statement print("wow").

 **NOTE**: The eval function works only with simple expressions, such as
the following:

In [22]:
eval('10*5')

50

The eval function is often used to turn user input into Python
expressions.

 For example, you could write a simple calculator program that reads equations entered into Python and then calculates
(evaluates) the answers.


Since user input is read in as a string, Python needs to convert
it into numbers and operators before doing any calculations.

 The
eval function makes that conversion easy:

In [26]:
your_calculation = input('Enter a calculation: ')
eval(your_calculation)

Enter a calculation: 12*52

624

In this example, we use input to read what the user enters into
the variable your_calculation.

 On the next line, we enter the expression 12*52 (perhaps your age multiplied by the number of weeks
in a year). 

We use eval to run this calculation, and the result is
printed on the final line.

***The exec Function***

The exec function is like eval, except that you can use it to run more
complicated programs. 

The difference between the two is that eval
returns a value (something that you can save in a variable), whereas
exec does not. 

Here’s an example:

In [1]:
my_small_program = '''print('ham')
print('sandwich')'''
exec(my_small_program)

ham
sandwich

In the first two lines, we create a variable with a multiline
string containing two print statements, and then use exec to run
the string.


You could use exec to run mini programs that your Python program reads in from files—really, programs inside programs!

 This
can be quite useful when writing long, complicated applications.


For example, you could create a Dueling Robots game, where two
robots move around a screen and try to attack each other. 

Players
of the game would provide the instructions for their robot as mini
Python programs. 

The Dueling Robots game would read in these
scripts and use exec to run.

In [19]:
code1 = '''print('wow')
print('im surprised')'''

code2 = '''print(1+1)'''


exec(code1)

wow
im surprised

***The float Function***

The float function converts a
string or a number into a floatingpoint number, which is a number
with a decimal place (also called
a real number). 

For example, the
number 10 is an integer (also
called a whole number), but 10.0,
10.1, and 10.253 are all floatingpoint numbers (also called floats).

you can convert a string to float by calling float:

In [22]:
float('12')

12.0

In [25]:
float('10.93845')

10.93845

You might use float to convert values entered into your program into proper numbers, which is particularly useful when you
need to compare the value a person enters with other values.

 For
example, to check whether a person’s age is above a certain number, we could do this:

In [24]:
your_age = input('Enter your age: ')
age = float(your_age)
if age > 13:
  print('You are %s years too old' % (age - 13))

Enter your age: 20
You are 7.0 years too old

****The int Function****  ---- VERY USEFULL

The int function converts a string or a number into a whole number (or integer), which basically means that everything after the
decimal point is dropped.

---> # It can also convert a string to integer

 For example, here’s how to convert a
floating-point number into a plain integer:

In [26]:
int(123.456)

123

In [27]:
int('123')

123

However floating number string do not work and an error will pop up. (floating numbers are numbers with decimals)

It also makes the floating number into an integer if using floating numbers

In [4]:
int(12.345)

12

***The len Function***


The len function returns
the length of an object or,
in the case of a string, the
number of characters in the
string.

 For example, to get
the length of this is a test
string, you would do this:

In [5]:
len('this is a test string')

21

When used with a list or a tuple, len returns the number of
items in that list or tuple:

In [7]:
 creature_list = ['unicorn', 'cyclops', 'fairy', 'elf', 'dragon',
 'troll']

print(len(creature_list))

6

Used with a map, len also returns the number of items in
the map:

In [8]:
enemies_map = {'Batman' : 'Joker',
 'Superman' : 'Lex Luthor',
 'Spiderman' : 'Green Goblin'}

print(len(enemies_map))

3

The len function is particularly useful when you’re working
with loops.

 For example, we could use it to display the index positions of the elements in a list like this:

In [9]:
fruit = ['apple', 'banana', 'clementine', 'dragon fruit']
length = len(fruit)

for x in range(0, length):
  print('the fruit at index %s is %s' % (x, fruit[x]))

the fruit at index 0 is apple
the fruit at index 1 is banana
the fruit at index 2 is clementine
the fruit at index 3 is dragon fruit

Here, we store the length of the list in
the variable length, and then use that
variable in the range function to create our
loop. As we loop through each item
in the list, we print a message showing the
item’s index position and value. You could
also use the len function, if you had a list of
strings and wanted to print every second or
third item in the list.

***The max and min Functions***


The max function returns the largest item in a
list, tuple, or string. 

For example, here’s how
to use it with a list of numbers:

In [10]:
 numbers = [5, 4, 10, 30, 22]
 print(max(numbers))

30

A string with the characters separated by commas or spaces
will also work:

In [11]:
strings = 's,t,r,i,n,g,S,T,R,I,N,G'
print(max(strings))

t

As this example shows, letters are ranked alphabetically, and
lowercase letters come after uppercase letters, so t is more than T.

But you don’t have to use lists, tuples, or strings. 

You can also
call the max function directly, and enter the items that you want to
compare into the parentheses as parameters:

In [12]:
print(max(10, 300, 450, 50, 90))

450

The min function works like max, except that it returns the
smallest item in the list, tuple, or string. 

Here’s our list of numbers example using min instead of max:

In [2]:
numbers = [5, 4, 10, 30, 22]
print(min(numbers))

4

Suppose you were playing a guessing game with a team of four
players, and each had to guess a number that was less than your
number.

 If any player guesses above your number, all players lose,
but if they all guess lower, they win. 

We could use max to quickly
find whether all of the guesses are lower, like so:

In [5]:
guess_this_number = 61
player_guesses = [12, 15, 70, 45]
if max(player_guesses) > guess_this_number:
  print('Boom! You all lose')

else:
  print('You win')

Boom! You all lose

In this example, we store the number to guess using the variable guess_this_number.

 The team members’ guesses are stored in
the list player_guesses.

  The if statement checks the maximum guess
against the number in guess_this_number, and if any player guesses
over the number, we print the message “Boom! You all lose.”

***The range Function***

The range function, as we’ve
seen before, is mainly used in
for loops, to loop through a section of code a specific number of
times. 

The first two parameters
given to range are called the start
and the stop. 

You saw range with
these two parameters in the earlier example of using the len
function to work with a loop.


The numbers that range generates begin with the number given
as the first parameter and end with the number that’s one less than
the second parameter. 

For example, the following shows what happens when we print the numbers that range creates between 0 and 5:

In [6]:
for x in range(0, 5):
  print(x)

0
1
2
3
4

The range function actually returns a special object called an
iterator that repeats an action a number of times. 

In this case, it
returns the next highest number each time it is called.

You can convert the iterator into a list (using the function list).

If you then print the returned value when calling range, you’ll see
the numbers it contains as well:

In [7]:
print(list(range(0, 5)))

[0, 1, 2, 3, 4]

You can also add a third parameter to range, called step.

 If the step value is not included, the number 1 is used as the step by
default.

 But what happens when we pass in the number 2 as the step? 
 
 Here’s the result:

In [8]:
count_by_twos = list(range(0, 30, 2))
print(count_by_twos)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Each number in the list increases by two from the previous
number, and the list ends with the number 28, which is 2 less
than 30.

 You can also use negative steps:

In [9]:
count_down_by_twos = list(range(40, 10, -2))
print(count_down_by_twos)

[40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12]

Steps are basically how many numbers it will take skip before reaching the next number. 

This can be useful when printing even/odd numbers

***The sum Function***

The sum function adds items in a list and returns the total. Here’s
an example:

In [2]:
my_list_of_numbers = list(range(0, 500, 50))
print(my_list_of_numbers)
print(sum(my_list_of_numbers))

[0, 50, 100, 150, 200, 250, 300, 350, 400, 450]
2250

On the first line, we create a list of numbers between 0 and
500, using range with a step of 50.

 Next, we print the list to see the
result. 

Finally, passing the variable my_list_of_numbers to the sum
function with print(sum(my_list_of_numbers)) adds all the items in
the list, giving the total of 2250.

***Working with Files***

Python files are the same as other files on your computer: documents, pictures, music, games . . . indeed, everything on your
computer is stored as files.

Let’s look at how to open and work with files in Python by
using the built-in function open.

 But first we need to create a
new file to play with.

To create a file in colab, open **File** then select **Upload notebook** to upload a colab file to a new or another file.

After that choose a place where you would like to upload.

***Programming Puzzles*** - pg 127

***1: Mystery Code***

What will be the result of running the following code? Guess, and
then run the code to see if you’re right.

In [3]:
a = abs(10) + abs(-10)
print(a)

b = abs(-10) + -10
print(b)

20
0

a will print out 20  -> 10 + 10

b will print out 0   -> 10 - 10

***2: A Hidden Message***

Try using dir and help to find out how to break a string into words,
and then create a small program to print every other word in the
following string, starting with the first word (this):

In [4]:
"this if is you not are a reading very this good then way you to have hide done a it message wrong"

'this if is you not are a reading very this good then way you to have hide done a it message wrong'

In [6]:
dir("this if is you not are a reading very this good then way you to have hide done a it message wrong")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [13]:
word= "this if is you not are a reading very this good then way you to have hide done a it message wrong"

help(word.strip)

Help on built-in function strip:

strip(chars=None, /) method of builtins.str instance
    Return a copy of the string with leading and trailing whitespace removed.

    If chars is given and not None, remove characters in chars instead.

In [6]:
string = "this if is you not are a reading very this good then way you to have hide done a it message wrong"

x = string.split()


for y in range(0,22,2):
  print(x[y])

this
is
not
a
very
good
way
to
hide
a
message

# Chapter 10 - Useful Python Modules

A Python module is
any combination of functions, classes, and variables.

Python uses modules to group functions and classes
in order to make them easier to use.

For example, the
turtle module, which we used in previous chapters,
groups functions and classes that are used to create
a canvas for a turtle to draw on the screen.

Python has a lot of modules for doing all sorts of different
tasks. In this chapter, we’ll look at some of the most useful ones
and try some of their functions.

***Making Copies with the copy Module***

The copy module contains functions
for creating copies of objects.

 Usually, when writing a program, you’ll
create new objects, but sometimes
it’s useful to create a copy of an
object, and then use that copy to
create a new object, particularly
when the process of creating an
object takes several steps. 

For example, suppose we have
an Animal class, with an __init__
function that takes the parameters
name, number_of_legs, and color.

In [11]:
class Animal:
  def __init__(self, species, number_of_legs, color):
    self.species = species
    self.number_of_legs = number_of_legs
    self.color = color

harry = Animal('hippogriff', 6, 'pink')

We could create a new object in the class Animal using the following code.

 Let’s create a pink hippogriff with six legs, called harry.

Suppose we want a herd of pink hippogriffs with six legs?

 We
could repeat the previous code over and over again, or use copy,
which can be found in the copy module:

In [12]:
import copy
harry = Animal('hippogriff', 6, 'pink')
harriet = copy.copy(harry)
print(harry.species)
print(harriet.species)

hippogriff
hippogriff

In this example, we create an object and label it with the
variable harry, and then we create a copy of that object and label
it harriet.

 These are two completely different objects, even though
they have the same species. 

This saves only a bit of typing, but
when the objects are a lot more complicated, being able to copy
them can be useful.

We can also create and copy a list of Animal objects.

In [13]:
harry = Animal('hippogriff', 6, 'pink')
carrie = Animal('chimera', 4, 'green polka dots')
billy = Animal('bogill', 0, 'paisley')
my_animals = [harry, carrie, billy]
more_animals = copy.copy(my_animals)
print(more_animals[0].species)
print(more_animals[1].species)

hippogriff
chimera

In the first three lines, we create
three Animal objects and store them in
harry, carrie, and billy. 

On the fourth line,
we add these objects to the list my_animals.

Next, we use copy to create a new list,
more_animals.

 Finally, we print the species
of the first two objects ([0] and [1]) in the
more_animals list and see that they’re the
same as in the original list: hippogriff
and chimera.

 We’ve made a copy of the list
without needing to create the objects all
over again.

But look what happens if we change the species of one of our
Animal objects in the original my_animals list (hippogriff to ghoul).
Python changes the species in more_animals, too.

In [14]:
my_animals[0].species = 'ghoul'
print(my_animals[0].species)

print(more_animals[0].species)

ghoul
ghoul

That’s odd. Didn’t we change the species in my_animals only?

Why did the species change in both lists?

The species changed because copy actually makes a shallow
copy, which means it doesn’t copy objects inside the objects we copied. 

Here, it has copied the main list object but not the individual
objects inside the list. 

So we end up with a new list that does not
have its own new objects—the list more_animals has the same three
objects inside it.

By the same token, if we add a new animal to the first list
(my_animals), it doesn’t appear in the copy (more_animals). As proof,
print the length of each list after adding another animal, like this:

In [15]:
sally = Animal('sphinx', 4, 'sand')
my_animals.append(sally)
print(len(my_animals))
print(len(more_animals))

4
3

As you can see, when we append a new animal to the first list,
my_animals, it isn’t added to the copy of that list, more_animals.

 When
we use len and print the results, the first list has four elements
and the second has three.
___
Another function in the copy module, deepcopy, actually creates
copies of all objects inside the object being copied. 

When we use
deepcopy to copy my_animals, we get a new list complete with copies of
all of its objects. 

As a result, changes to one of our original Animal
objects won’t affect the objects in the new list. 

Here’s an example:

In [16]:
more_animals = copy.deepcopy(my_animals)   # Dont forget to run the cells in sequence 
my_animals[0].species = 'wyrm'
print(my_animals[0].species)

print(more_animals[0].species)

wyrm
ghoul

When we change the species of the first object in the original
list from ghoul to wyrm, the copied list doesn’t change, as we can see
when we print the species of the first object in each list.

***Keeping Track of Keywords with the keyword Module***

A Python keyword is any word in Python that is part of the language itself, such as if, else, and for. 

The keyword module contains
a function named iskeyword and a variable called kwlist.

 The function iskeyword returns true if any string is a Python keyword.
 
  The
variable kwlist returns a list of all Python keywords.

Notice in the following code that the function iskeyword returns
true for the string if and false for the string ozwald. 

You can see
the full list of keywords when we print the contents of the variable,
which is useful because keywords don’t always stay the same. 

New
versions (or older versions) of Python may have different keywords.

In [17]:
import keyword
print(keyword.iskeyword('if'))

print(keyword.iskeyword('ozwald'))

print(keyword.kwlist)   # description of each keyword available in appendix of book

True
False
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

***Getting Random Numbers with the Random Module***

The random module contains a number of functions that are useful
for generating random numbers—kind of like asking the computer
to “pick a number.”

 The most useful functions in the random module
are randint, choice, and shuffle.

+ ***Using randint to Pick a Random Number***

The randint function picks a random number between a range
of numbers, say between 1 and 100, between 100 and 1000, or
between 1000 and 5000. Here’s an example:

In [21]:
import random
print(random.randint(1, 100))

print(random.randint(100, 1000))

print(random.randint(1000, 5000))

6
395
4022

You might use randint to do something like create a simple (and
annoying) guessing game, using a while loop, like this:

In [20]:
import random
num = random.randint(1, 100)

while True:
  print('Guess a number between 1 and 100')
  guess = input()
  i = int(guess)

  if i == num:
    print('You guessed right')
    break

  elif i < num:
    print('Try higher')

  elif i > num:
    print('Try lower')

Guess a number between 1 and 100
50
Try higher
Guess a number between 1 and 100
75
Try lower
Guess a number between 1 and 100
60
Try higher
Guess a number between 1 and 100
65
You guessed right

First, we import the random module, and
then we set the variable num to a random number using randint with a range of 1 to 100.

 We
then create a while loop that will loop
forever (or at least until the player guesses
the number).

Next, we print a message and then use input to get input
from the user, which we store in the variable guess.

We convert the input to a number using int, and save it in the variable i.

Then we compare it with the randomly selected number.

If the input and the randomly generated number are equal, we
print “You guessed right,” and then exit the loop.

If the numbers aren’t equal, we check to see if the number the player guessed is higher than the random number or lower and print a
hint message accordingly.

This code is a bit long, so you may want to type it into a new
shell window or create a text document, save it, and then run it in
IDLE.

+ ***Using choice to Pick a Random Item from a List***

If you want to pick a random item from a list instead of a random
number from a given range, you can use choice.

 For example, you
might want Python to choose your dessert for you.

In [23]:
import random
desserts = ['ice cream', 'pancakes', 'brownies', 'cookies','candy']
print(random.choice(desserts))

pancakes

+ ***Using shuffle to Shuffle a List***

The shuffle function shuffles a list, mixing up the items.

In [25]:
import random
desserts = ['ice cream', 'pancakes', 'brownies', 'cookies','candy']
random.shuffle(desserts)
print(desserts)

['pancakes', 'ice cream', 'cookies', 'brownies', 'candy']

You can see the results of the shuffle when we print the list—
the order is completely different.

 If you were writing a card game,
you might use this to shuffle a list representing a deck of cards.

***Controlling the Shell with the sys Module***

The sys module contains system functions that you can use to
control the Python shell itself. 

Here, we’ll look at how to use exit
function, stdin and stdout objects, and version variable.

+ ***Exiting the Shell with the exit function***

The exit function is a way of stopping the Python shell or console.

Enter the following code, and you’ll be prompted with a dialog asking if you want to exit.

 Click Yes, and the shell will shut down.

In [6]:
import sys
sys.exit()      # Does not run on colab

In [7]:
help(sys.exit)

Help on built-in function exit in module sys:

exit(...)
    exit([status])

    Exit the interpreter by raising SystemExit(status).
    If the status is omitted or None, it defaults to zero (i.e., success).
    If the status is an integer, it will be used as the system exit status.
    If it is another kind of object, it will be printed and the system
    exit status will be one (i.e., failure).

+ ***Reading with the stdin Object***

The stdin object (short for standard input) in the sys module prompts
a user to enter information to be read into the shell and used by the
program. 

As you learned in Chapter 7, this object has a readline
function, which is used to read a line of text typed on the keyboard
until the user presses enter.

 It works like the input function that
we used in the random number guessing game earlier in this chapter. 

For example, enter the following:

In [27]:
import sys
v = sys.stdin.readline()
He who laughs last thinks slowest 

print(v)  # sys does not run on colab

Python will store the string He who laughs last thinks slowest in
the variable v. To confirm this, print the contents of v:

One of the differences between input and the readline function
is that with readline, you can specify the number of characters to
read as a parameter. For example:

In [ ]:
v = sys.stdin.readline(13)
He who laughs last thinks slowest   # only 'He who laughs' will print

print(v)

+ ***Writing with the stdout Object***

Unlike stdin, the stdout object (short for standard output) can be
used to write messages to the shell (or console), rather than reading them in.

 In some ways, it’s the same as print, but stdout is a file
object, so it has the same functions we used in Chapter 9, such as
write.

 Here’s an example:

In [1]:
import sys
sys.stdout.write("What does a fish say when it swims into a wall? Dam.")

# Supposed to print out 'What does a fish say when it swims into a wall? Dam.52' in other IDLE

What does a fish say when it swims into a wall? Dam.

Notice that when write finishes, it returns a count of the number of characters it has written. You can see 52 printed into the
shell at the end of the message.

 We could save this value to a variable in order to record, over time, how many characters we have
written to the screen.

+ ***Which Version of Python Am I Using?***
 
The variable version displays your version of Python, which can be useful if
you want to make sure you’re up-to-date.

Some programmers like to print information when their programs start up.

For example, you might put the version
of Python into an About window of your
program, like this:

In [2]:
import sys
print(sys.version)

3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]

***Doing Time with the time module***

Python’s time module contains functions for displaying the time,
though not necessarily as you might expect. Try this:

In [3]:
import time
print(time.time())

1639282998.9164329

The number returned by the call to
time() is actually the number of seconds
since January 1, 1970, at 00:00:00 AM
to be exact.

 On its own, this unusual reference point may not seem immediately
useful, but it can serve a purpose.

 For example, to find out how
long parts of your program take to run, you can record the time at
the beginning and end, and compare the values. 

Let’s try this to
find out how long it will take to print all numbers from 0 to 999.

First, create a function like this:

In [4]:
def lots_of_numbers(max):
  for x in range(0, max):
    print(x)

Next, call the function with max set to 1000:

In [5]:
lots_of_numbers(1000)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999

Then work out how long the function takes by modifying our
program with the time module.

In [9]:
lots_of_numbers(1000)
def lots_of_numbers(max):
  t1 = time.time()
  for x in range(0, max):
    print(x)
  t2 = time.time()
  print('it took %s seconds' % (t2-t1))

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
it took 0.14441657066345215 seconds

**Here’s how this works:**

 The first time we call the time() function, we assign the value returned to the variable t1.

We then
loop and print all the numbers in the third and fourth lines.

After the loop, we again call time(), and assign the value returned
to the variable t2.

 Since it took several seconds for the loop to
complete, the value in t2 will be higher than t1 because more seconds will have passed since January 1, 1970.

 Subtracting t1 from
t2, we get the number of seconds it took to print all
those numbers.

+ ***Converting a Date with asctime***

The function asctime takes a date as a tuple and converts it into
something more readable. 

(Remember that a tuple is like a list
with items that you can’t change.) As you saw in Chapter 7, calling
asctime without any parameters will display the current date and
time in a readable form.

In [10]:
import time
print(time.asctime())

Sun Dec 12 04:42:35 2021

To call asctime with a parameter, we first create a tuple with
values for the date and time.

 For example, here we assign the tuple
to the variable t:

In [11]:
t = (2007, 5, 27, 10, 30, 48, 6, 0, 0)

The values in the sequence are year, month, day, hours, minutes, seconds, day of the week (0 is Monday, 1 is Tuesday, and so
on), day of the year (we put 0 as a placeholder), and whether or not
it is daylight saving time (0 if it isn’t; 1 if it is).

 Calling asctime with
a similar tuple, we get this:

In [12]:
import time
t = (2020, 2, 23, 10, 30, 48, 6, 0, 0)
print(time.asctime(t))

Sun Feb 23 10:30:48 2020

+ ***Getting the Date and Time with localtime***

Unlike asctime, the function localtime returns the current date
and time as an object, with the values in roughly the same order as asctime input.

 If you print the object, you’ll see the name of the
class, and each of the values labeled as tm_year, tm_mon (for month),
tm_mday (for day of the month), tm_hour, and so on.

In [14]:
import time
print(time.localtime())

time.struct_time(tm_year=2021, tm_mon=12, tm_mday=12, tm_hour=5, tm_min=2, tm_sec=52, tm_wday=6, tm_yday=346, tm_isdst=0)

To print the current year and month, you can use their index
positions (as with the tuple we used with asctime). 

Based on our
example, we know that year is in the first position (position 0) and
month is in the second position (1).

 Therefore, we use year = t[0]
and month = t[1], like this:

In [15]:
t = time.localtime()
year = t[0]
month = t[1]
print(year)
print(month)

2021
12

+ ***Taking Some Time Off with sleep***

The function sleep is quite useful when you want to delay or
slow down your program.

 For
example, to print every second
from 1 to 61, we could use the
following loop:

In [17]:
for x in range(1, 5):
  print(x)

1
2
3
4

This code will rapidly print all numbers from 1 to 60.

 However,
we can tell Python to sleep for a second between each print statement, like this:

In [19]:
for x in range(1, 5):
  print(x)
  time.sleep(1)

1
2
3
4

This adds a delay between the display of each number.

 In
Chapter 12, we’ll use the sleep function to make an animation a
bit more realistic.

***Using the pickle Module to Save Information***
 
The pickle module is used to convert
Python objects into something that can
be written into a file and then easily read
back out.

 You might find pickle useful if
you’re writing a game and want to save
information about a player’s progress. 

For
example, here’s how we might add a save
feature to a game:

In [3]:
game_data = {
'player-position' : 'N23 E45',
'pockets' : ['keys', 'pocket knife', 'polished stone'],
'backpack' : ['rope', 'hammer', 'apple'],
'money' : 158.50}

Here, we create a Python map containing the player’s current
position in our imaginary game, a list of the items in the player’s
pockets and backpack, and the amount of money the player is carrying. 

We can save this map to a file by opening the file for writing
and then calling pickle’s dump function, like this:

In [4]:
import pickle
game_data = {
 'player-position' : 'N23 E45',
 'pockets' : ['keys', 'pocket knife', 'polished stone'],
 'backpack' : ['rope', 'hammer', 'apple'],
 'money' : 158.50}
 
save_file = open('save.dat', 'wb')
pickle.dump(game_data, save_file)
save_file.close()

We import the pickle module first and create a map
of our game data. 

Then, we open the file save.dat with
the parameter wb, which tells Python to write the file in binary
mode (you might need to save this in a directory like /Users/
malcolmozwald, /home/ susanb/ or C:\\Users\JimmyIpswich, as
we did in Chapter 9).

After that, we use dump to pass in the map and the
file variable as two parameters.

Finally, we close the file,
because we’re finished with it.

+ ***NOTE****

 Plain text files contain only characters that humans can read.
Images, music files, movies, and pickled Python objects have information that isn’t always readable by humans, so they’re known as
binary files. If you were to open the save.dat file, you would see that
it doesn’t look like a text file; it looks like a jumbled mixture of normal text and special characters.

We can unpickle objects we’ve written to the file using pickle’s
load function. 

When we unpickle something, we reverse the pickle
process: We take the information written into the file and convert
it back into values that our program can use.

 The process is similar to using the dump function.

In [5]:
load_file = open('save.dat', 'rb')
loaded_game_data = pickle.load(load_file)
load_file.close()

First, we open the file using rb as the parameter, which means
read binary.

 We then pass the file to load and set the return value
to the variable loaded_game_data.

 Finally, we close the file.
 
To prove that our saved data has been loaded correctly, print
the variable:

In [6]:
print(loaded_game_data)

{'player-position': 'N23 E45', 'pockets': ['keys', 'pocket knife', 'polished stone'], 'backpack': ['rope', 'hammer', 'apple'], 'money': 158.5}

***Programming Puzzles*** - pg 144

***1: Copied Cars***

What will the following code print?


```
>>> import copy
>>> class Car:
      pass
>>> car1 = Car()
>>> car1.wheels = 4
>>> car2 = car1
>>> car2.wheels = 3
>>> print(car1.wheels)

>>> car3 = copy.copy(car1)
>>> car3.wheels = 6
>>> print(car1.wheels)
```

Both will print 3.

-> car1.wheels should be 4 but since car2 = car1 ,  
car1.wheels = car2.wheels = 3

-> the next few linses of codes does not affect car1.wheels so its value still remains as 3

***2: Pickled Favorites***

Create a list of your favorite things, and then use pickle to save
them to a file called favorites.dat.

 Close the Python shell, and then
reopen it and display your list of favorites by loading the file.

In [7]:
import pickle
fav_item = {'fav1':'PC',
            'fav2':'Phone',
            'fav3':'Watch',
            'fav4':'HotWheels'}
save_file =  open('favorites.dat', 'wb')
pickle.dump(fav_item, save_file)
save_file.close()

In [8]:
load_file = open('favorites.dat', 'rb')
loaded_fav_item = pickle.load(load_file)
load_file.close()

In [9]:
print(loaded_fav_item)

{'fav1': 'PC', 'fav2': 'Phone', 'fav3': 'Watch', 'fav4': 'HotWheels'}

# Chapter 11 - More Turtle Graphics

***Skipped***    - hard to use turtle in colab

In
Python, turtles can do a lot more than just draw plain
black lines.

For example, you can use them to draw
more advanced geometric shapes, create different
colors, and even fill your shapes with color.

***Starting with the Basic Square***

We’ve already learned how to make the turtle draw simple shapes.

Before using the turtle, we need to import the turtle module and
create the Pen object:

In [ ]:
import turtle
t = turtle.Pen()

Here’s the code we used to create a square in Chapter 4:

In [ ]:
t.forward(50)
t.left(90)
t.forward(50)
t.left(90)
t.forward(50)
t.left(90)
t.forward(50)

In Chapter 6, you learned about for loops. 

With our newfound
knowledge, we can make this somewhat tedious code for a square
simpler using a for loop:

In [ ]:
t.reset()
for x in range(1, 5):
    t.forward(50)
    t.left(90)

On the first line, we tell the Pen
object to reset itself.

Next, we start
a for loop that will count from 1 to
4 with the code range(1, 5).

Then,
with the following lines, in each
run of the loop, we move forward
50 pixels and turn left 90 degrees.

Because we’ve used a for loop, this
code is a little shorter than the previous version—ignoring the reset
line, we’ve gone from six lines down
to three.

***Drawing stars***

Now, with a few simple changes to our for loop, we can create
something even more interesting. 

Type in the following:

In [ ]:
for x in range(1, 9):
    t.forward(100)
    t.left(225)

This code produces an eight-point star:

The code itself is very similar to the code we used to draw a
square, with a few exceptions:

•	 Rather than looping four times with range(1, 5), we loop eight
times with range(1, 9).

•	 Rather than moving forward 50 pixels, we move forward
100 pixels.

•	 Rather than turning 90 degrees, we turn 225 degrees to the left.

Now let’s develop our star just a bit more. 

By using a 175-degree
angle and looping 37 times, we can make a star with even more
points, using this code:

In [ ]:
for x in range(1, 38):
    t.forward(100)
    t.left(175)

While we’re playing with stars, here’s the code to produce a
spiraling star:

In [ ]:
for x in range(1, 20):
    t.forward(100)
    t.left(95)

By changing the degree of the turn and reducing the number
of loops, the turtle ends up drawing quite a different style of star.

Using similar code, we can
create a variety of shapes, from a
basic square to a spiral star.

As
you can see, by using for loops,
we’ve made it much simpler to
draw these shapes. 

Without
for loops, our code would have
required a lot of tedious typing.

Now let’s use an if statement to control how the turtle
will turn and draw another star
variation. 

In this example, we
want the turtle to turn one angle
the first time, and then another
angle the next time.

In [ ]:
for x in range(1, 19):
    t.forward(100)
    if x % 2 == 0:
        t.left(175)
    else:
        t.left(225)

Here, we create a loop that will run 18 times (range(1, 19)) and
tell the turtle to move forward 100 pixels (t.forward(100)).     #See pg 149

New here
is the if statement (if x % 2 == 0:).

This statement checks to see if
the variable x contains an even number by using a modulo operator, the % in the expression x % 2 == 0, which is a way of saying, “x
mod 2” is equal to 0.    (x divided by 2 == 0   -> even)

The expression x % 2 essentially says, “What is the amount
left over when you divide the number in variable x into two equal
parts?” For example, if we were to divide 5 balls into two parts, we
would get two groups of 2 balls (making a total of 4 balls), and the
remainder (the amount left over) would be 1 ball  -> odd

If we divided 13 balls into two parts, we would get two groups
of 6 balls with 1 ball remaining:  -> odd

When we check to see if the remainder equals zero after dividing x by 2, we are actually asking whether it can be broken into
two parts with no remainder. 

This method is a nice way to see if a
number in a variable is even, because even numbers can always be
divided into two equal parts.

On the fifth line of our code, we tell the turtle to turn left
175 degrees (t.left(175)) if the number in x is even (if x % 2 == 0:);
otherwise (else), on the final line, we tell it to turn 225 degrees
(t.left(225)).

***Drawing a Car***

The turtle can do more than just draw stars and simple geometric
shapes.

For our next example, we’ll draw a rather primitive-looking
car. 

First, we draw the body of the car:

In [ ]:
t.reset()
t.color(1,0,0)
t.begin_fill()
t.forward(100)
t.left(90)
t.forward(20)
t.left(90)
t.forward(20)
t.right(90)
t.forward(20)
t.left(90)
t.forward(60)
t.left(90)
t.forward(20)
t.right(90)
t.forward(20)
t.left(90)
t.forward(20)
t.end_fill()

Next, we draw the first wheel.

In [ ]:
t.color(0,0,0)
t.up()
t.forward(10)
t.down()
t.begin_fill()
t.circle(10)
t.end_fill()

Finally, we draw the second wheel.

In [ ]:
t.setheading(0)
t.up()
t.forward(90)
t.right(90)
t.forward(10)
t.setheading(0)
t.begin_fill()
t.down()
t.circle(10)
t.end_fill()

You may have noticed that a few new turtle functions have
snuck into this code:

•	 color is used to change the color of the pen.

•	 begin_fill and end_fill are used to fill in an area of the canvas
with a color.

•	 circle draws a circle of a particular size.

•	 setheading turns the turtle to face a particular direction.

Let’s take a look at how we can use these functions to add color
to our drawings.

***Coloring Things In***

The color function takes three parameters.

The first specifies the
amount of red, the second the amount of green, and the third
the amount of blue.

For example, to get the bright red of the car,
we used color(1,0,0), which tells the turtle to use a 100 percent
red pen.

This red, green, and blue color recipe
is called RGB.

It’s the way that colors are
represented on your computer monitor, and
the relative mix of these primary colors
produces other colors, just like when you
mix blue and red paint to make purple or
yellow and red to make orange.

The colors
red, green, and blue are called primary
colors because you cannot mix other
shades to produce them.

Although we’re not using paint when we create colors on a
computer monitor (we’re using light), it may help to understand
this RGB recipe by thinking about three pots of paint: one red,
one green, and one blue. 

Each pot is full, and we give each full pot
a value of 1 (or 100 percent). 

We then mix all of the red paint and
all of the green paint in a vat to produce yellow (that’s 1 and 1 of
each, or 100 percent of each color).

Now let’s return to the world of code.

To draw a yellow circle
with the turtle, we would use 100 percent of both the red and
green paint, but no blue, like this:

In [ ]:
t.color(1,1,0)
t.begin_fill()
t.circle(50)
t.end_fill()

The 1,1,0 in the first line represents 100 percent red, 100 percent green, and 0 percent blue.

On the next line, we tell the turtle to
fill the shapes it draws with this RGB color (t.begin_fill), and then
we tell it to draw a circle with (t.circle).

On the final line, end_fill
tells the turtle to fill the circle with the RGB color.

+ ***A Function to Draw a Filled Circle***

To make it easier to experiment with different colors, let’s create a
function from the code we used to draw a filled circle.

In [ ]:
def mycircle(red, green, blue):
    t.color(red, green, blue)
    t.begin_fill()
    t.circle(50)
    t.end_fill()

We can draw a bright green circle by using only the green
paint, with this code:

In [ ]:
mycircle(0, 1, 0)

Or we can draw a darker green circle by using only half the
green paint (0.5):

In [ ]:
mycircle(0, 0.5, 0)

To play with the RGB colors on your screen, try drawing a circle first with full red then half red (1 and 0.5), and then with full
blue and finally half blue, like this:

In [ ]:
mycircle(1, 0, 0)
mycircle(0.5, 0, 0)
mycircle(0, 0, 1)
mycircle(0, 0, 0.5)

Various combinations of red, green, and blue will produce a
huge variety of colors, like gold:

In [ ]:
mycircle(0.9, 0.75, 0)

Here’s light pink:

In [ ]:
mycircle(1, 0.7, 0.75)

And here are two versions for different shades of orange:

In [ ]:
mycircle(1, 0.5, 0)
mycircle(0.9, 0.5, 0.15)

+ ***Creating Pure Black and White***

What happens when you turn off all the
lights at night? 

Everything goes black.

The
same thing happens with colors on a computer.

No light means no color, so a circle
with 0 for all of the primary colors creates
black:

In [ ]:
mycircle(0, 0, 0)

The opposite is true if you use 100 percent of all three colors.
In this case, you get white. Enter the following to wipe out your
black circle:

In [ ]:
mycircle(1, 1, 1)

***A Square-Drawing Function***

You’ve seen that we fill shapes with color by telling the turtle to
start filling using begin_fill, and the shapes are filled only once
we use the end_fill function.

Now we’ll try a few more experiments
with shapes and filling.

Let’s use the square-drawing function from
the beginning of the chapter and pass it the size of the square as a
parameter.

In [ ]:
def mysquare(size):
    for x in range(1, 5):
        t.forward(size)
        t.left(90)

Now let’s try our function with different sizes. The following
code creates five consecutive squares of size 25, 50, 75, 100, and 125.

In [ ]:
t.reset()
mysquare(25)
mysquare(50)
mysquare(75)
mysquare(100)
mysquare(125)

+ ***Drawing Filled Squares***

To draw a filled square, first we need to reset the canvas, begin
filling, and then call the square function again, with this code:

In [ ]:
t.reset()
t.begin_fill()
mysquare(50)

You should see an empty square until you end filling:

In [ ]:
t.end_fill()

Let’s change this function so that we can draw either a filled
or an unfilled square.

To do so, we need another parameter and
slightly more complicated code.

In [ ]:
def mysquare(size, filled):
    
    if filled == True:
        t.begin_fill()
    for x in range(1, 5):
        t.forward(size)
        t.left(90)
        
    if filled == True:
        t.end_fill()

On the first line, we change the definition of our function to
take two parameters: size and filled.

Next, we check to see whether
the value of filled is set to True with if filled == True.

If it is, we
call begin_fill, to tell the turtle to fill the shape we drew.

We then
loop four times (for x in range(0, 4)) to draw the four sides of the rectangle (moving forward and left), before checking again to see
whether filled is True with if filled == True.

If it is, we turn filling
off again with t.end_fill, and the turtle fills the square with color.

Now we can draw a filled square with this line:

In [ ]:
mysquare(50, True)

Or we can create an unfilled square with this line:

In [ ]:
mysquare(150, False)

After these two calls to the mysquare function, we get the following image, which looks a bit like a square eye.

But there’s no sense in stopping here. You can draw all sorts of
shapes and fill them with color.

***Drawing Filled Stars***

For our final example, we’ll add some color to the star we drew
earlier.

The original code looked like this:

In [ ]:
for x in range(1, 19):
    t.forward(100)
    if x % 2 == 0:
        t.left(175)
    else:
        t.left(225)

Now we’ll make a mystar function. We’ll use the if statements
from the mysquare function and add the size parameter.

In [ ]:
def mystar(size, filled):
    if filled == True:
        t.begin_fill()
    for x in range(1, 19):
        t.forward(size)
        if x % 2 == 0:
            t.left(175)
        else:
            t.left(225)
    if filled == True:
        t.end_fill()

In the first two lines of this function, we check to see if filled
is True, and if it is we begin filling.

We check again in the last two
lines, and if filled is True, we stop filling.

Also, as with the mysquare
function, we pass the size of the star in the parameter size, and
use that value when we call t.forward.

Now let’s set the color to gold (90 percent red, 75 percent green,
and 0 percent blue), and then call the function again.

In [ ]:
t.color(0.9, 0.75, 0)
mystar(120, True)

To add an outline to the star, change the color to black and
redraw the star without filling:

In [ ]:
t.color(0,0,0)
mystar(120, False)

And the star is now gold with a black outline.

***Programming Puzzles*** - pg 160

***1: Drawing an Octagon***

We’ve drawn stars, squares, and rectangles in this chapter.

How
about creating a function to draw an eight-sided shape like an
octagon? (Hint: Try turning the turtle 45 degrees.)

In [2]:
def octa(size):
    for x in range(0,8):
        t.forward(size)
        t.left(45)
        
octa(100)

***2: Drawing a Filled Octagon***

Now that you have a function to draw an octagon, modify it so that
it draws a filled octagon.

Try drawing an octagon with an outline,
as we did with the star.

In [5]:
def octa(size,filled):
    if filled == 1:
        t.begin_fill()
    for x in range(0,8):
        t.forward(size)
        t.left(45)
    if filled == 1:
        t.end_fill()
        
t.color(1,0,0)
octa(100,1)

***3: Another Star-drawing Function***

Create a function to draw a star that will take two parameters:
the size and number of points. 

The beginning of the function will
look something like this:

In [ ]:
def draw_star(size, points):

In [1]:
def draw_star(size, points):
    angle = 360/points
    for x in range(0,points):
        t.forward(size)
        t.left(180 - angle)
        t.forward(size)
        t.right(180 - (angle*2))
        
draw_star(100,5)

# Chapter 12 - Using tkinter for Better Graphics

The problem with using a turtle to draw is that turtles are really slow. 

Even when a turtle is
going at top speed, it’s still not going very fast.

That’s
not really a problem for turtles, but it is a problem for
computer graphics.

Computer graphics, especially in games, usually
need to move fast.

If you have a game console or you
play games on your computer, think for a moment about
the graphics you see on the screen.

Two-dimensional
(2D) graphics are flat—the characters generally move only up and down or left and right—
as in many Nintendo DS, PlayStation
Portable (PSP), and mobile phone
games.

In pseudo-three-dimensional
(3D) games—ones that are almost
3D—images look a little more real,
but the characters generally move
only in relation to a flat plane (this
is also known as isometric graphics).

And, finally, we have 3D games, where the pictures drawn on
the screen attempt to mimic reality. Whether the games use 2D,
pseudo-3D, or 3D graphics, all have one thing in common: the need
to draw on the computer screen very quickly.

The basic method used
with all animation, whether it’s cartoons on TV or games on your
console or computer is that an image is drawn, and then drawn again
with a slight change to create the illusion of movement.

To make
an image look like it is moving, you need to display each frame, or
piece of the animation, very quickly.

Python offers different ways to create graphics.

In addition to
the turtle module, you can use external modules (which need to
be installed separately), as well as the tkinter module, which you
should already have in your standard Python installation.

tkinter
can be used to create full applications, like a simple word processor, as well as for simple drawing.

In this chapter, we’ll explore
how to use tkinter to create graphics.

***Creating a Clickable Button***

For our first example, we’ll use tkinter to create a basic application
with a button. Enter this code:

In [2]:
from tkinter import *
tk = Tk()
btn = Button(tk, text="click me")
btn.pack()

On the first line, we import
the contents of the tkinter module.

Using from 'module-name import *' allows
us to use the contents of a module
without using its name.

In contrast,
when using import turtle in previous
examples, we needed to include the
module name to access its contents:

In [ ]:
import turtle
t = turtle.Pen()

When we use import *, we don’t need to call turtle.Pen, as we
did in Chapters 4 and 11.

This isn’t so useful with the turtle module, but it is when you are using modules with a lot of classes and
functions, because it reduces the amount you need to type.

In [ ]:
from turtle import *
t = Pen()

On the next line in our button example, we create a variable
containing an object of the class Tk with tk = Tk(), just like we
create a Pen object for the turtle.

The tk object creates a basic window to which we can then add other things, such as buttons, input
boxes, or a canvas to draw on. This is the main class provided by
the tkinter module—without creating an object of the Tk class, you
won’t be able to do any graphics or animations.

On the third line, we create a button, with btn = Button and
pass the tk variable as the first parameter, and "click me" as
the text that the button will display, with (tk, text="click me").

Although we’ve added this button to the window, it won’t be displayed until you enter the line btn.pack(), which tells the button to appear.

It also lines everything up correctly on the screen, if there
are other buttons or objects to display.

The result should be something like this:   (a window with a 'click me' button)

The click me button doesn’t do much. You can click it all day,
but nothing will happen until we change the code just a bit.
(Be
sure to close the window you created earlier!)

First, we create a function to print some text:

In [ ]:
def hello():
    print('hello there')

Then we modify our example to use this new function:

In [ ]:
from tkinter import *
tk = Tk()
btn = Button(tk, text="click me", command=hello)
btn.pack()

Notice that we’ve made only a slight change to the previous
version of this code: We’ve added the parameter command, which tells
Python to use the hello function when the button is clicked.

Now when you click the button, you will see “hello there” written to the shell. This will appear each time the button is clicked.

This is the first time we’ve used named parameters in any of
our code examples, so let’s talk about them a bit before continuing
with our drawing.

***Using Named Parameters***

Named parameters are just like normal parameters, except that,
rather than using the specific order of the values provided to a
function to determine which value belongs to which parameter
(the first value is the first parameter, the second value is the second parameter, the third value is the third parameter, and so on),
we explicitly name the values, so they can appear in any order.

Sometimes functions have a lot of parameters, and we may not
always need to provide a value for every parameter.

Named parameters are a way we can provide values for only the parameters that
we need to give values.
For example, suppose we have a function called person that
takes two parameters: width and height.

In [1]:
def person(width, height):
    print('I am %s feet wide, %s feet high' % (width, height))

Normally, we might call this function like this:

In [2]:
person(4, 3)

I am 4 feet wide, 3 feet high

Using named parameters, we could call this function and specify the parameter name with each value:

In [3]:
person(height=3, width=4)

I am 4 feet wide, 3 feet high

Named parameters will become particularly useful as we do
more with the tkinter module.

***Creating a Canvas for Drawing***

Buttons are nice tools, but they’re not particularly useful when we
want to draw things on the screen.

When it’s time to really draw
something, we need a different component: a canvas object, which is
an object of the class Canvas (provided by the tkinter module).

When creating a canvas, we pass the width and height (in
pixels) of the canvas to Python.

Otherwise, the code is similar to
the button code.

Here’s an example:

In [4]:
from tkinter import *
tk = Tk()
canvas = Canvas(tk, width=500, height=500)
canvas.pack()

As with the button example,
a window will appear when you
enter tk = Tk().

On the last line,
we pack the canvas with canvas.
pack(), which changes the size
of the canvas to a width of 500
pixels and a height of 500 pixels,
as specified in the third line
of code.

Also as with the button
example, the pack function tells
the canvas to display itself in the
correct position within the window.
If that function isn’t called,
nothing will display properly.

***Drawing Lines***

To draw a line on the canvas, we use pixel coordinates. 

Coordinates
determine the positions of pixels on a surface. 

On a tkinter canvas,
coordinates describe how far across the canvas (from left to right)
and how far down the canvas (top to bottom) to place the pixel.

For example, since our canvas is 500 pixels wide by 500 pixels high, the coordinates of the bottom-right corner of the screen
are (500, 500).

To draw the line shown in the following image, we
would use the starting coordinates (0, 0) and ending coordinates
(500, 500).

We specify the coordinates using the create_line function, as
shown here:

In [6]:
from tkinter import *
tk = Tk()
canvas = Canvas(tk, width=500, height=500)
canvas.pack()
canvas.create_line(0, 0, 500, 500)

1

The create_line function returns 1, which is an identifier—we’ll
learn more about that later. If we had done the same thing with the
turtle module, we would have needed the following code:

In [ ]:
import turtle
turtle.setup(width=500, height=500)
t = turtle.Pen()
t.up()
t.goto(-250, 250)
t.down()
t.goto(500, -500)

So the tkinter code is already an improvement. It’s slightly
shorter and a bit simpler.

Now let’s look at some of the functions available on the canvas
object that we can use for some more interesting drawings.

***Drawing Boxes***

With the turtle module, we drew a
box by moving forward, turning, moving forward, turning again, and so on.

Eventually, we were able to draw a rectangular or square box by changing how
far we moved forward.

The tkinter module makes it a lot
easier to draw a square or rectangle.

All you need to know are the
coordinates for the corners.

Here’s an example (you can close the
other windows now):

In [7]:
from tkinter import *
tk = Tk()
canvas = Canvas(tk, width=400, height=400)
canvas.pack()
canvas.create_rectangle(10, 10, 50, 50)

1

In this code, we use tkinter to create a canvas that is 400 pixels
wide by 400 pixels high, and we then draw a square in the top-left
corner of the window, (a small square)

The parameters we pass to canvas.create_rectangle in the last
line of the code are the coordinates for the top-left and bottom-right
corners of the square. 

We provide these coordinates as the distance
from the left-hand side of the canvas and the distance from the top
of the canvas.

In this case, the first two coordinates (the top-left corner) are 10 pixels across from the left and 10 pixels down from
the top (those are the first numbers: 10, 10).

The bottom-right corner
of the square is 50 pixels across from the left and 50 pixels down
(the second numbers: 50, 50).

We’ll refer to these two sets of coordinates as x1, y1 and x2, y2.

To draw a rectangle, we can increase the distance of the second
corner from the side of the canvas (increasing the value of the x2
parameter), like this:

In [8]:
from tkinter import *
tk = Tk()
canvas = Canvas(tk, width=400, height=400)
canvas.pack()
canvas.create_rectangle(10, 10, 300, 50)

1

In this example, the top-left coordinates of the rectangle (its
position on the screen) are (10, 10), and the bottom-right coordinates are (300, 50).

The result is a rectangle that is the same
height as our original square (50 pixels), but a lot wider.


We can also draw a rectangle by increasing the distance of the
second corner from the top of the canvas (increasing the value of
the y2 parameter), like this:

In [9]:
from tkinter import *
tk = Tk()
canvas = Canvas(tk, width=400, height=400)
canvas.pack()
canvas.create_rectangle(10, 10, 50, 300)

1

In this call to the create_rectangle function, we are basically
saying, in order:

•	 Go 10 pixels across the canvas (from the top left).

•	 Go 10 pixels down the canvas. This is the starting corner of
the rectangle.

•	 Draw the rectangle across to 50 pixels.

•	 Draw down to 300 pixels.

The end result should look something like this: (a long rectangle and its height is the longest)

+ ***Drawing a Lot of Rectangles***

How about filling the canvas with different-sized rectangles?

We can do this by importing the module random and then creating
a function that uses a random number for the coordinates at the
top-left and bottom-right corners of the rectangle.

We’ll use the function provided by the random module called
randrange.

When we give this function a number, it returns a random integer between 0 and the number we give it. For example,
calling randrange(10) would return a number between 0 and 9,
randrange(100) would return a number between 0 and 99, and
so on.

Here’s how we use randrange in a function.

In [11]:
from tkinter import *
import random
tk = Tk()
canvas = Canvas(tk, width=400, height=400)
canvas.pack()

def random_rectangle(width, height):
    x1 = random.randrange(width)
    y1 = random.randrange(height)
    x2 = x1 + random.randrange(width)
    y2 = y1 + random.randrange(height)
    canvas.create_rectangle(x1, y1, x2, y2)
    
random_rectangle(400,400)

We first define our function (def random_rectangle) as taking two
parameters: width and height.

Next, we create variables for the topleft corner of the rectangle using the randrange function, passing the
width and the height as parameters with x1 = random.randrange(width)
and y1 = random.randrange(height), respectively.

In effect, with the
second line of this function, we’re saying, “Create a variable called
x1, and set its value to a random number between 0 and the value
in the parameter width.”

The next two lines create variables for the bottom-right corner
of the rectangle, taking into account the top-left coordinates (either
x1 or y1) and adding a random number to those values.

The third
line of the function is effectively saying, “Create the variable x2 by
adding a random number to the value that we already calculated
for x1.”

Finally, with canvas.create_rectangle, we use the variables x1,
y1, x2, and y2 to draw the rectangle on the canvas.

To try our random_rectangle function, we’ll pass it the width and
height of the canvas.

 Once you’ve seen the function working, fill the screen
with rectangles by creating a loop to call random_rectangle a number
of times. 

Let’s try a for loop of 100 random rectangles. Add the following code

In [ ]:
for x in range(0, 100):
    random_rectangle(400, 400)

This code produces a bit of a mess, but it’s kind of like modern art: (a bunch of wierdly shaped rectangles)

+ ***Setting the Color***

Of course, we want to add color to our graphics.

Let’s change the
random_rectangle function to pass in a color for the rectangle as an
additional parameter (fill_color). 

Enter this code in a new window:

In [5]:
from tkinter import *
import random
tk = Tk()
canvas = Canvas(tk, width=400, height=400)
canvas.pack()

def random_rectangle(width, height, fill_color):
    x1 = random.randrange(width)
    y1 = random.randrange(height)
    x2 = random.randrange(x1 + random.randrange(width))
    y2 = random.randrange(y1 + random.randrange(height))
    canvas.create_rectangle(x1, y1, x2, y2, fill=fill_color)

The create_rectangle function now takes a parameter fill_color,
which specifies the color to use when drawing the rectangle.

We can pass named colors into the function like this (using
a canvas 400 pixels wide by 400 pixels high) to create a bunch of
different-colored rectangles.

In [13]:
random_rectangle(400, 400, 'green')
random_rectangle(400, 400, 'red')
random_rectangle(400, 400, 'blue')
random_rectangle(400, 400, 'orange')
random_rectangle(400, 400, 'yellow')
random_rectangle(400, 400, 'pink')
random_rectangle(400, 400, 'purple')
random_rectangle(400, 400, 'violet')
random_rectangle(400, 400, 'magenta')
random_rectangle(400, 400, 'cyan')

Many of these named colors will display the color you expect
to see, but others may produce an error message (depending on
whether you’re using Windows, Mac OS X, or Linux).

But what about a custom color that isn’t exactly the same as
a named color? 

Recall in Chapter 11 that we set the color of the
turtle’s pen using percentages of the colors red, green, and blue.

Setting the amount of each primary color (red, green, and blue)
to use in a color combination with tkinter is slightly more complicated, but we’ll work through it.

When working with the turtle module, we created gold using
90 percent red, 75 percent green, and no blue. In tkinter, we can
create the same gold color using this line:

In [ ]:
random_rectangle(400, 400, '#ffd800')

The hash mark (#) before the value ffd800 tells Python we’re providing a hexadecimal number.

Hexadecimal is a way of representing
numbers that is commonly used in computer programming.

It uses
a base of 16 (0 through 9 then A through F) rather than decimal,
which has a base of 10 (0 through 9).

If you haven’t learned about
bases in mathematics, just know that you can convert a normal decimal number to hexadecimal using a format placeholder in a string:
%x (see “Embedding Values in Strings” on page 30).

For example,
to convert the decimal number 15 to hexadecimal, you could do this:

In [14]:
print('%x' % 15)

f

To make sure our number has at least two digits, we can
change the format placeholder slightly, to this:

In [15]:
print('%02x' % 15)

0f

The tkinter module provides an easy way to get a hexadecimal
color value. 

Try adding the following code to colorrect.py (you can
remove the other calls to the random_rectangle function).

In [ ]:
from tkinter import *
from tkinter import colorchooser
tk = Tk()
tk.update()
colorchooser.askcolor()         # This is the latest way for colorchooser

This shows you a color chooser:

When you select a color and click OK, a tuple will be displayed.
This tuple contains another tuple with three numbers and a string:

The three numbers represent the amounts of red, green, and
blue.

In tkinter, the amount of each primary color to use in a color
combination is represented by a number between 0 and 255 (which
is different from using a percentage for each primary color with the
turtle module).

The string in the tuple contains the hexadecimal
version of those three numbers.

You can either copy and paste the string value to use or store
the tuple as a variable, and then use the index position of the hexadecimal value.

Let’s use the random_rectangle function to see how this works:

In [6]:
from tkinter import *
from tkinter import colorchooser
tk = Tk()
tk.update()

c = colorchooser.askcolor()      # Dont forget to run the function first
random_rectangle(400, 400, c[1])    # Should show a random rectangle with the color you chose

***Drawing Arcs***

An arc is a segment of the
circumference of a circle or
another curve, but in order
to draw one with tkinter, you
need to draw it inside a rectangle using the create_arc
function, with code like this:

In [2]:
from tkinter import *
tk = Tk()
canvas = Canvas(tk, width=400, height=400)
canvas.pack()

canvas.create_arc(10, 10, 200, 100, extent=180, style=ARC)

1

This code places the top-left corner of the rectangle that
will contain the arc at the coordinates (10, 10), which is 10 pixels
across and 10 pixels down, and its bottom-right corner at coordinates (200, 100), or 200 pixels across and 100 pixels down.

The
next parameter, extent, is used to specify the degrees of the angle
of the arc.

Recall from Chapter 4 that degrees are a way of measuring the distance to travel around a circle.

Here are examples
of two arcs, where we travel 45 degrees and 270 degrees around
a circle:  (pg 178)

The following code draws several different arcs down the page
so that you can see what happens when we use different degrees
with the create_arc function:

In [3]:
from tkinter import *
tk = Tk()
canvas = Canvas(tk, width=400, height=400)
canvas.pack()

canvas.create_arc(10, 10, 200, 80, extent=45, style=ARC)
canvas.create_arc(10, 80, 200, 160, extent=90, style=ARC)
canvas.create_arc(10, 160, 200, 240, extent=135, style=ARC)
canvas.create_arc(10, 240, 200, 320, extent=180, style=ARC)
canvas.create_arc(10, 320, 200, 400, extent=359, style=ARC)   # NOTE: We use 359 degrees in the final circle, rather than 360, because
                                                              # tkinter considers 360 to be the same as 0 degrees, and would draw
                                                              # nothing if we used 360.

5

***Drawing Polygons***

A polygon is any shape with three or more sides.

There are regularly shaped polygons like triangles, squares, rectangles, pentagons,
hexagons, and so on, as well as irregular ones with uneven edges,
many more sides, and odd shapes.

When drawing polygons with tkinter, you need to provide coordinates for each point of the polygon.

Here’s how we can draw a
triangle:

In [4]:
from tkinter import *
tk = Tk()
canvas = Canvas(tk, width=400, height=400)
canvas.pack()

canvas.create_polygon(10, 10, 100, 10, 100, 110, fill="",
outline="black")

1

This example draws a
triangle by starting with the
x and y coordinates (10, 10),
then moving across to (100,
10), and finishing at (100,
110).

Here’s the result: (a right-angled triangle. right angle at (100,10))

We can add another irregular polygon (a shape with uneven
angles or sides) using this code:

In [5]:
canvas.create_polygon(200, 10, 240, 30, 120, 100, 140, 120, fill="",
outline="black")

2

This code begins with the coordinates (200, 10), moves to
(240, 30), then to (120, 100), and finally to (100, 140). tkinter automatically joins the line back to the first coordinate.

And here’s the
result of running the code: (see pg 180)

***Displaying Text***

In addition to drawing shapes, you can also write on the canvas
using create_text.

This function takes only two coordinates (the
x and y positions of the text), along with a named parameter for
the text to display.

In the following code, we create our canvas as
before and then display a sentence positioned at the coordinates
(150, 100).

In [6]:
from tkinter import *
tk = Tk()
canvas = Canvas(tk, width=400, height=400)
canvas.pack()

canvas.create_text(150, 100, text='There once was a man from Toulouse,')

1

The create_text function takes some other useful parameters, such as a text fill color.

In the following code, we call the
create_text function with coordinates (130, 120), the text we want
to display, and a red fill color.

In [7]:
canvas.create_text(130, 120, text='Who rode around on a moose.',
fill='red')

2

You can also specify the font (the typeface used for the displayed text) as a tuple
with the font name and the size of the text.

For example, the tuple for the Times font
of size 20 is ('Times', 20). 

In the following
code, we display text using the Times font
set at size 15, the Helvetica font at size 20,
and the Courier font at sizes 22 and then 30.

In [8]:
canvas.create_text(150, 150, text='He said, "It\'s my curse,',
font=('Times', 15))
canvas.create_text(200, 200, text='But it could be worse,',
font=('Helvetica', 20))
canvas.create_text(220, 250, text='My cousin rides round',
font=('Courier', 22))
canvas.create_text(220, 300, text='on a goose."', font=('Courier', 30))

6

And here’s the result of these functions using the three specified fonts at five different sizes:

***Displaying Images***

To display an image on a canvas using tkinter, first load the image
and then use the create_image function on the canvas object.

Any image that you load must be in a directory that’s accessible to Python.

For this example, we put our image test.gif in the
C:\ directory, which is the root directory (the base directory) of
the C: drive, but you could put it anywhere.

***NOTE***: With tkinter, you can load only GIF images, that is, image files with
the extension .gif. 

You can display other types of images, such as
PNG (.png) and JPG (.jpg), but you’ll need to use a different module, such as the Python Imaging Library (http://www.pythonware.com/products/pil/).

We can display an image like this: (SEE temp.py)

***Creating Basic Animation***

We’ve covered how to create static drawings—pictures that don’t
move.

What about creating animation?

Animation is not necessarily a specialty of the tkinter module,
but it can handle the basics.

For example, we can create a filled
triangle and then make it move across the screen using this code
(don’t forget, select File4New Window, save your work, and then
run the code with Run4Run Module):

In [1]:
import time
from tkinter import *
tk = Tk()
canvas = Canvas(tk, width=400, height=200)
canvas.pack()

canvas.create_polygon(10, 10, 10, 60, 50, 35)

for x in range(0, 60):
    canvas.move(1, 5, 0)
    tk.update()
    time.sleep(0.05)

When you run this code, the triangle will start moving across
the screen to the end of its path:

How does this work?

As before, we’ve used the first three lines
after importing tkinter to do the basic setup to display a canvas.

In
the fourth line, we create the triangle with this function:

In [ ]:
canvas.create_polygon(10, 10, 10, 60, 50, 35) # Creates a triangle

+ NOTE: When you enter this line, a number will be printed to the screen.   This is an identifier for the polygon.   We can use it to refer to the   shape later, as described in the following example.

Next, we create a simple for loop
to count from 0 to 59, beginning with
for x in range(0, 60):.

The block of code
inside the loop moves the triangle across
the screen. 

The canvas.move function will
move any drawn object by adding values
to its x and y coordinates. For example,
with canvas.move(1, 5, 0), we move the
object with ID 1 (the identifier for the
triangle) 5 pixels across and 0 pixels down.

To move it back again,
we could use the function call canvas.move(1, -5, 0).

The function tk.update() forces tkinter to update the screen
(redraw it).

If we didn’t use update, tkinter would wait until the loop
finished before moving the triangle, which means you would see 
it jump to the last position, rather than move smoothly across the
canvas.

The final line of the loop, time.sleep(0.05), tells Python to                       
sleep for one-twentieth of a second (0.05 seconds), before continuing.

To make the triangle move diagonally down the screen, we
can modify this code by calling move(1, 5, 5). 

To try this, close the
canvas, and create a new file (ANIMATE2) for the following code:

In [1]:
import time
from tkinter import *
tk = Tk()
canvas = Canvas(tk, width=400, height=400)
canvas.pack()

canvas.create_polygon(10, 10, 10, 60, 50, 35)

for x in range(0, 60):
    canvas.move(1, 5, 5)
    tk.update()
    time.sleep(0.05)

This code differs from the original in two ways:

•	 We make the height of the canvas 400, rather than 200,
with canvas = Canvas(tk, width=400, height=400).

•	 We add 5 to the triangle’s x and y coordinates with
canvas.move(1, 5, 5).

To move the triangle diagonally back up the screen to its starting position, use -5, -5

In [ ]:
for x in range(0, 60):
    canvas.move(1, -5, -5)
    tk.update()
    time.sleep(0.05)

***Making an Object React to Something***

We can make the triangle react when someone presses a key by
using event bindings.

Events are things that occur while a program
is running, such as someone moving the mouse, pressing a key, or
closing a window.

You can tell tkinter to watch for these events and
then do something in response.

To begin handling events (making Python do something when
an event occurs), we first create a function.

The binding part comes
when we tell tkinter that a particular function is bound (or associated) to a specific event; in other words, it will be automatically
called by tkinter to handle that event.

For example, to make the triangle move when the enter key is
pressed, we can define this function:

In [ ]:
def movetriangle(event):
    canvas.move(1, 5, 0)

The function takes a single parameter (event), which tkinter
uses to send information to the function about the event.

We now
tell tkinter that this function should be used for a particular event,
using the bind_all function on the canvas. 

The full code now looks
like this:

In [1]:
from tkinter import *
tk = Tk()
canvas = Canvas(tk, width=400, height=400)
canvas.pack()

canvas.create_polygon(10, 10, 10, 60, 50, 35)

def movetriangle(event):
    canvas.move(1, 5, 0)
    
    
    

canvas.bind_all('<KeyPress-Return>', movetriangle)   # The triangle should move a bit to the left every time you press enter

'2968162081152movetriangle'

The first parameter in this function describes the event that we
want tkinter to watch for.

In this case, it’s called < KeyPress-Return>,
which is a press of the ***enter*** or
***return*** key.

We tell tkinter that
the movetriangle function should
be called whenever this KeyPress
event occurs.

Run this code, click
the canvas with your mouse, and
then try pressing enter on your
keyboard.

How about changing the direction of the triangle depending on
different key presses, such as the arrow keys?

That’s no problem.

We just need to change the movetriangle function to the following:

In [2]:
def movetriangle(event):
    if event.keysym == 'Up':
        canvas.move(1, 0, -3)
    elif event.keysym == 'Down':
        canvas.move(1, 0, 3)
    elif event.keysym == 'Left':
        canvas.move(1, -3, 0)
    else:
        canvas.move(1, 3, 0)

The event object passed to movetriangle contains several variables. One of these variables is called keysym (for key symbol), which
is a string that holds the value of the actual key pressed.

The line
if event.keysym == 'Up': says that if the keysym variable contains the
string 'Up', we should call canvas.move with the parameters (1, 0, -3),
as we do in the following line.

If keysym contains 'Down', as in elif
event.keysym == 'Down':, we call it with the parameters (1, 0, 3),
and so on.

Remember that the first parameter is the identifying number
for the shape drawn on the canvas, the second is the value to add
to the x (horizontal) coordinate, and the third is the value to add to
the y (vertical) coordinate.

We then tell tkinter that the movetriangle function should be
used to handle events from four different keys (up, down, left,
and right).

The following shows how the code looks at this point.

FILE SAVED AS trimove.py

In [3]:
from tkinter import *
tk = Tk()
canvas = Canvas(tk, width=400, height=400)
canvas.pack()

canvas.create_polygon(10, 10, 10, 60, 50, 35)

def movetriangle(event):
    
    if event.keysym == 'Up':
        canvas.move(1, 0, -3)  
    elif event.keysym == 'Down':
        canvas.move(1, 0, 3)   
    elif event.keysym == 'Left':
        canvas.move(1, -3, 0)    
    else:
        canvas.move(1, 3, 0)      
        
        
        
        
        
        
        
        
        
canvas.bind_all('<KeyPress-Up>', movetriangle)   
canvas.bind_all('<KeyPress-Down>', movetriangle)
canvas.bind_all('<KeyPress-Left>', movetriangle)
canvas.bind_all('<KeyPress-Right>', movetriangle)

'2968162128384movetriangle'

_____________________________________________________
On the first line of the movetriangle function, we check whether
the keysym variable contains 'Up'.

If it does, we move the triangle upward using the move function with the parameters 1, 0, -3.

The first parameter is the identifier of the triangle, the
second is the amount to move to the right (we don’t want to move
horizontally, so the value is 0), and the third is the amount to
move downward (–3 pixels).
____________________________________________________________________________________________________________________________________________

We then check whether keysym contains 'Down' and if
so, we move the triangle down (3 pixels)
____________________________________________________________________________________________________________________________________________

The final check is
whether the value is 'Left' and if so, we move the triangle
left (–3 pixels)
____________________________________________________________________________________________________________________________________________

If none of the values are matched, the final
else moves the triangle right
______________________________________________________

Now the triangle should move in the direction of the pressed
arrow key.

***More Ways to Use the Identifier***

Whenever we use a create_ function from the canvas, such as
create_polygon or create_rectangle, an identifier is returned.

This
identifying number can be used with other canvas functions, as we
did earlier with the move function:

In [6]:
from tkinter import *
tk = Tk()

canvas = Canvas(tk, width=400, height=400)
canvas.pack()

canvas.create_polygon(10, 10, 10, 60, 50, 35)

1

In [7]:
canvas.move(1, 5, 0) # This will move the triangle (1) by 5 pixels to the right

The problem with this example is that create_polygon won’t
always return 1.

For example, if you’ve created other shapes, it
might return 2, 3, or even 100 for that matter (depending on the
number of shapes that have been created before).

If we change the code to
store the value returned as a variable, and then use the variable
(rather than just referring to the number 1), the code will work no
matter what number is returned:

In [8]:
from tkinter import *
tk = Tk()
canvas = Canvas(tk, width=400, height=400)
canvas.pack()

mytriangle = canvas.create_polygon(10, 10, 10, 60, 50, 35)
canvas.move(mytriangle, 5, 0)

The move function allows us to move objects around the screen
using their identifier.

But there are other canvas functions that can
also change something we’ve drawn.

For example, the itemconfig
function of the canvas can be used to change some of the parameters of a shape, such as its fill and outline colors.

Say we create a red triangle:

In [9]:
from tkinter import *
tk = Tk()
canvas = Canvas(tk, width=400, height=400)
canvas.pack()

mytriangle = canvas.create_polygon(10, 10, 10, 60, 50, 35,fill='red')

We can change the triangle to another color using itemconfig
and use the identifier as the first parameter.

The following code
says, “Change the fill color of the object identified by the number
in variable mytriangle to blue.”:

In [11]:
canvas.itemconfig(mytriangle, fill='blue')  # This will now change the colour of the triangle without changing anything else

We could also give the triangle a different-colored outline,
again using the identifier as the first parameter:

In [12]:
canvas.itemconfig(mytriangle, outline='red') # This will give the triangle a red outline without changing anything else

Later, we’ll learn how to make other
changes to a drawing, such as hide it and
make it visible again. You’ll find it useful
to be able to change a drawing once it’s displayed on the screen when we start writing
games in the next chapter.

***PROGRAMMING PUZZLES*** - pg 190

***1: Fill the Screen with Triangles***

Create a program using tkinter to fill the screen with triangles.

Then change the code to fill the screen with different-colored
(filled) triangles instead.

In [1]:
from tkinter import *
import random
tk = Tk()
canvas = Canvas(tk, width=400, height=400)
canvas.pack()

def random_rectangle(width, height, num):
    for x in range(0,num):
        x1 = random.randrange(width)
        y1 = random.randrange(height)
        x2 = random.randrange(x1 + random.randrange(width))
        y2 = random.randrange(y1 + random.randrange(height))
        canvas.create_rectangle(x1, y1, x2, y2,)
    
    



random_rectangle(400,400,100)                      # Creates triangle with no colour

In [ ]:
from tkinter import *
import random
tk = Tk()
canvas = Canvas(tk, width=400, height=400)
canvas.pack()

colors = ["red", "orange", "yellow", "green", "blue", "violet"]




def random_rectangle(width, height, num):
    for x in range(0,num):
        x1 = random.randrange(width)
        y1 = random.randrange(height)
        x2 = random.randrange(x1 + random.randrange(width))
        y2 = random.randrange(y1 + random.randrange(height))
        canvas.create_rectangle(x1, y1, x2, y2,fill = random.choice(colors))
    
    



random_rectangle(400,400,100)                    # Creates triangle with random filled colours

***2: The Moving Triangle***

Modify the code for the moving triangle (“Creating Basic Animation” on page 183) to make it move across the screen to the right,
then down, then back to the left, and then back to its starting
position.

In [2]:
import time
from tkinter import *
tk = Tk()
canvas = Canvas(tk, width=400, height=200)
canvas.pack()

canvas.create_polygon(10, 10, 10, 60, 50, 35)

for x in range(0, 60):
    canvas.move(1, 5, 0)
    tk.update()
    time.sleep(0.05)                           # Original code

In [ ]:
import time
from tkinter import *
tk = Tk()
canvas = Canvas(tk, width=400, height=200)
canvas.pack()

canvas.create_polygon(10, 10, 10, 60, 50, 35)

for x in range(0, 60):
    canvas.move(1, 5, 0)
    tk.update()
    time.sleep(0.05)

    
for x in range(0,30):
    canvas.move(1,0,5)
    tk.update()
    time.sleep(0.05)

    
for x in range(0,60):
    canvas.move(1,-5,0)
    tk.update()
    time.sleep(0.05)

    
for x in range(0,30):
    canvas.move(1,0,-5)
    tk.update()
    time.sleep(0.05)

***3: The Moving Photo***

Try displaying a photo of yourself on the canvas using tkinter.
Make sure it’s a GIF image! Can you make it move across the
screen?

In [1]:
import time
from tkinter import *  

tk = Tk()
canvas = Canvas(tk, width = 1000, height = 500)      
canvas.pack()      

img = PhotoImage(file='car_pic.gif')        
canvas.create_image(20,20, anchor=NW, image=img)      


for x in range(0, 120):
    canvas.move(1, 5, 0)
    tk.update()
    time.sleep(0.05)

# PART II - BOUNCE

# Chapter 13 - Beginning Your First Game: Bounce!

***Whack the Bouncing Ball***

We’re going to develop a game with a bouncing ball and a paddle.

The ball will fly around the screen, and the player will bounce it
off the paddle.

If the ball hits the bottom of the screen, the game
comes to an end.

Our game may look quite simple, but the code will be a bit
trickier than what we’ve written so far because there are a lot of
things that it needs to handle. 

For example, it needs to animate
the paddle and the ball, and detect when the ball hits the paddle
or the walls.

In this chapter, we’ll begin creating the game by adding a
game canvas and a bouncing ball.

In the next chapter, we’ll complete the game by adding the paddle.

***Creating the Game Canvas***

The file name is BOUNCE.py

In [ ]:
from tkinter import *
import random
import time
tk = Tk()

tk.title("Game")

tk.resizable(0, 0)
tk.wm_attributes("-topmost", 1)
canvas = Canvas(tk, width=500, height=400, bd=0, highlightthickness=0)
canvas.pack()

tk.update()

This is a little different from previous examples.

First, we import
the time and random modules with import random and import time, for
use a bit later in the code.

With tk.title("Game"), we use the title function of the tk
object we created with tk = Tk() to give the window a title. Then
we use resizable to make the window a fixed size. The parameters
0, 0 say “the size of the window cannot be changed either horizontally or vertically.” Next, we call wm_attributes to tell tkinter to place
the window containing our canvas in front of all other windows
("-topmost").
Notice that when we create a canvas object with canvas =, we
pass in a few more named parameters than with previous examples. For example, both bd=0 and highlightthickness=0 make sure
that there’s no border around the outside of the canvas, which
makes it look better on our game screen.
The line canvas.pack()
tells the canvas to size itself
according to the width and
height parameters given in
the preceding line. Finally,
tk.update() tells tkinter to
initialize itself for the animation in our game. Without
this last line, nothing would
work quite as expected.
Make sure you save
your code as you go. Give it
a meaningful filename the
first time you save it, such
as paddleball.py.