<a href="https://colab.research.google.com/github/Mehrabwv/python/blob/main/Welcome_to_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ingredients = ['snails', 'leeches', 'gorilla belly-button lint',
 'caterpillar eyebrows', 'centipede toes']
number = ['1','2','3','4','5']
for x in range(0,5):
  y = 1 + x
  print( y , ingredients[x])

1 snails
2 leeches
3 gorilla belly-button lint
4 caterpillar eyebrows
5 centipede toes

In [ ]:
weight = 60
for y in range(1,16):
  weight=weight+1
  print(y,weight*0.165)

1 10.065000000000001
2 10.23
3 10.395000000000001
4 10.56
5 10.725
6 10.89
7 11.055
8 11.22
9 11.385
10 11.55
11 11.715
12 11.88
13 12.045
14 12.21
15 12.375

In [ ]:
def moonweight(weight,year,increase):
  return (weight+(increase*year))*0.165


print(moonweight(60,15,1))

12.375

In [ ]:
weight1= input('What is your weight now?: ')
increase1= input('How much increase do you expect?: ')
year1= input('In how many years?: ')

weight = int(weight1)
increase = int(increase1)
yeare = int(year1)
year2 = yeare+15a


for year2 in range(0,year2):
  moonweight=(weight+(increase*year2))*0.165
  print(year2,moonweight)

What is your weight now?: 60
How much increase do you expect?: 1
In how many years?: 15
0 9.9
1 10.065000000000001
2 10.23
3 10.395000000000001
4 10.56
5 10.725
6 10.89
7 11.055
8 11.22
9 11.385
10 11.55
11 11.715
12 11.88
13 12.045
14 12.21
15 12.375

# ***Python For Kids***

# Chapter 1 - Not all snakes slither
# (Basics)

In [ ]:
print('How are you?')

How are you?

In [ ]:
print("hello world")

hello world

In [ ]:
print('''hello world''')

hello world

#Chapter 2 - Calculations and Variables
#Calculations

In [ ]:
8*3.57   #8 times 3.57 = 28.56

28.56

Pg 16 - puzzle

In [ ]:
10*365

3650

In [ ]:
20+3650

3670

In [ ]:
3*52

156

In [ ]:
3670-156

3514

BODMAS


add
5 to 30, and then multiply the result
by 20

In [ ]:
(5+30)*20

700

 Adding 5 to 30 gives 35.

 Multiplying 35 by 20 gives 700.

 Dividing 700 by 10 gives the final answer of 70.

In [ ]:
 ((5 + 30) * 20) / 10

70.0

Variables

In [ ]:
fred=100
print(fred)

100

In [ ]:
fred=100
john=fred+5
print(john)

105

In [ ]:
# You cant start a variable with a number!
number_of_coins = 200
print(number_of_coins)

200

Pg 21 - more info

In [ ]:
 20 + 10 * 365 - 3 * 52

3514

In [ ]:
found_coins = 20
magic_coins = 10
stolen_coins = 3

found_coins + magic_coins * 365 - stolen_coins * 52

3514

In [ ]:
found_coins = 20
magic_coins = 10

stolen_coins = 2   # Very easy to change the variable if neeeded

found_coins + magic_coins * 365 - stolen_coins * 52

3566

# Chapter 3 - Strings, Lists, Tuples, and Maps

A string is a text

In [ ]:
fred = "What is 1 + 1?"
print(fred)

What is 1 + 1?

In [ ]:
#To create multiple line string, use '''
fred = '''How do dinosaurs pay their bills?
With tyrannosaurus checks!'''
print(fred)

How do dinosaurs pay their bills?
With tyrannosaurus checks!

In [ ]:
silly_string = '''He said, "Aren't can't shouldn't wouldn't."'''
print(silly_string)

He said, "Aren't can't shouldn't wouldn't."

In [ ]:
single_quote_str = 'He said, "Aren\'t can\'t shouldn\'t wouldn\'t."'
print(single_quote_str)

He said, "Aren't can't shouldn't wouldn't."

In [ ]:
myname = 'mehrab'
string = 'hello my name is %s '    #Dont forget to put %s or error will occur
print(string % myname)

hello my name is mehrab

In [ ]:
nock = 'what is %s + %s?'
print(nock %(1,5))

what is 1 + 5?

Multiplying strings  - pg 31

In [ ]:
print(10*'hello ')

hello hello hello hello hello hello hello hello hello hello

Strings

In [ ]:
mylist = 'water, food, air, games, house, bed, tv, soap'     # This is a variable
print(mylist)

water, food, air, games, house, bed, tv, soap

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
print(mylist)

['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
print(mylist[2])    # Although it says no.2 , the no. 3 item is shown at the list starts with 0

air

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
print(mylist[0])

water

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']

mylist[2] = 'oxygen'     # It is very easy to change the item (from air to oxygen)     -> Replacing
print(mylist)

['water', 'food', 'oxygen', 'games', 'house', 'bed', 'tv', 'soap']

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
print(mylist[1:4])

['food', 'air', 'games']

In [ ]:
nums = ['1','3','5','7','9']
words =['one','three','five','seven','nine']
print(nums + words)

['1', '3', '5', '7', '9', 'one', 'three', 'five', 'seven', 'nine']

In [ ]:
nums = ['1','3','5','7','9']
words =['one','three','five','seven','nine']
print(nums[1] + words[1])

3three

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']

mylist.append('cook')      # It is very easy to add items to the list
print(mylist)

['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap', 'cook']

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']

del mylist[7]     # It is also very easy to delete a item from the list
print(mylist)

['water', 'food', 'air', 'games', 'house', 'bed', 'tv']

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
nums = [1,2,3,4]
add = nums + mylist

print(add)

[1, 2, 3, 4, 'water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']

In [ ]:
words = ['a','b']

print(words * 5)

['a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'a', 'b']

note that you cannot divide or subtract a list 

and you can only add a list to a list but not another variable, number or word

**Tuples are like lists, however items cannot be added or removed with a code**

In [ ]:
what = (0,1,2,3,4)    # It is used because it is sometimes more useful to not be 
print(what[3])        # able to change items inside a tuples easily

3

Python map

In [4]:
favorite_sports = ['Ralph Williams, Football',    # This is a list
 'Michael Tippett, Basketball',
 'Edward Elgar, Baseball',
 'Rebecca Clarke, Netball',
 'Ethel Smyth, Badminton',
 'Frank Bridge, Rugby']

print(favorite_sports)

['Ralph Williams, Football', 'Michael Tippett, Basketball', 'Edward Elgar, Baseball', 'Rebecca Clarke, Netball', 'Ethel Smyth, Badminton', 'Frank Bridge, Rugby']

In [5]:
 favorite_sports = {'Ralph Williams' : 'Football',   # This is a map
 'Michael Tippett' : 'Basketball',
 'Edward Elgar' : 'Baseball',
 'Rebecca Clarke' : 'Netball',
 'Ethel Smyth' : 'Badminton',    # Uses {}
 'Frank Bridge' : 'Rugby'}

 print(favorite_sports)

{'Ralph Williams': 'Football', 'Michael Tippett': 'Basketball', 'Edward Elgar': 'Baseball', 'Rebecca Clarke': 'Netball', 'Ethel Smyth': 'Badminton', 'Frank Bridge': 'Rugby'}

In [6]:
 favorite_sports = {'Ralph Williams' : 'Football',  
 'Michael Tippett' : 'Basketball',
 'Edward Elgar' : 'Baseball',
 'Rebecca Clarke' : 'Netball',
 'Ethel Smyth' : 'Badminton',    # You can easily find the sport
 'Frank Bridge' : 'Rugby'}

 print(favorite_sports['Rebecca Clarke'])

Netball

In [8]:
favorite_sports = {'Ralph Williams' : 'Football',  
 'Michael Tippett' : 'Basketball',
 'Edward Elgar' : 'Baseball',
 'Rebecca Clarke' : 'Netball',
 'Ethel Smyth' : 'Badminton',    
 'Frank Bridge' : 'Rugby'}

del favorite_sports['Frank Bridge']    # Easy to delete a name/item

print(favorite_sports)

{'Ralph Williams': 'Football', 'Michael Tippett': 'Basketball', 'Edward Elgar': 'Baseball', 'Rebecca Clarke': 'Netball', 'Ethel Smyth': 'Badminton'}

In [10]:
favorite_sports = {'Ralph Williams' : 'Football',  
 'Michael Tippett' : 'Basketball',
 'Edward Elgar' : 'Baseball',
 'Rebecca Clarke' : 'Netball',
 'Ethel Smyth' : 'Badminton',    
 'Frank Bridge' : 'Rugby'}

favorite_sports['Ethel Smyth']= 'Hockey'

print(favorite_sports)

{'Ralph Williams': 'Football', 'Michael Tippett': 'Basketball', 'Edward Elgar': 'Baseball', 'Rebecca Clarke': 'Netball', 'Ethel Smyth': 'Hockey', 'Frank Bridge': 'Rugby'}