<a href="https://colab.research.google.com/github/Mehrabwv/python/blob/main/Welcome_to_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
weight1= input('What is your weight now?: ')
increase1= input('How much increase do you expect?: ')
year1= input('In how many years?: ')

weight = int(weight1)
increase = int(increase1)
yeare = int(year1)
year2 = yeare


for year2 in range(0,year2):
  moonweight=(weight+(increase*year2))*0.165
  print(year2,moonweight)

What is your weight now?: 1
How much increase do you expect?: 1
In how many years?: 1
0 0.165

# ***Python For Kids***

# Chapter 1 - Not all snakes slither
# (Basics)

In [59]:
print('How are you?')

How are you?

In [60]:
print("hello world")

hello world

In [61]:
print('''hello world''')

hello world

#Chapter 2 - Calculations and Variables
#Calculations

In [62]:
8*3.57   #8 times 3.57 = 28.56

28.56

Pg 16 - puzzle

In [63]:
10*365

3650

In [64]:
20+3650

3670

In [65]:
3*52

156

In [66]:
3670-156

3514

BODMAS


add
5 to 30, and then multiply the result
by 20

In [67]:
(5+30)*20

700

 Adding 5 to 30 gives 35.

 Multiplying 35 by 20 gives 700.

 Dividing 700 by 10 gives the final answer of 70.

In [68]:
 ((5 + 30) * 20) / 10

70.0

Variables

In [69]:
fred=100
print(fred)

100

In [70]:
fred=100
john=fred+5
print(john)

105

In [71]:
# You cant start a variable with a number!
number_of_coins = 200
print(number_of_coins)

200

Pg 21 - more info

In [72]:
 20 + 10 * 365 - 3 * 52

3514

In [73]:
found_coins = 20
magic_coins = 10
stolen_coins = 3

found_coins + magic_coins * 365 - stolen_coins * 52

3514

In [74]:
found_coins = 20
magic_coins = 10

stolen_coins = 2   # Very easy to change the variable if neeeded

found_coins + magic_coins * 365 - stolen_coins * 52

3566

# Chapter 3 - Strings, Lists, Tuples, and Maps

A string is a text

In [75]:
fred = "What is 1 + 1?"
print(fred)

What is 1 + 1?

In [76]:
#To create multiple line string, use '''
fred = '''How do dinosaurs pay their bills?
With tyrannosaurus checks!'''
print(fred)

How do dinosaurs pay their bills?
With tyrannosaurus checks!

In [77]:
silly_string = '''He said, "Aren't can't shouldn't wouldn't."'''
print(silly_string)

He said, "Aren't can't shouldn't wouldn't."

In [78]:
single_quote_str = 'He said, "Aren\'t can\'t shouldn\'t wouldn\'t."'
print(single_quote_str)

He said, "Aren't can't shouldn't wouldn't."

In [79]:
myname = 'mehrab'
string = 'hello my name is %s '    #Dont forget to put %s or error will occur
print(string % myname)

hello my name is mehrab

In [80]:
nock = 'what is %s + %s?'
print(nock %(1,5))

what is 1 + 5?

Multiplying strings  - pg 31

In [81]:
print(10*'hello ')

hello hello hello hello hello hello hello hello hello hello

Strings

In [82]:
mylist = 'water, food, air, games, house, bed, tv, soap'     # This is a variable
print(mylist)

water, food, air, games, house, bed, tv, soap

In [83]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
print(mylist)

['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']

In [84]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
print(mylist[2])    # Although it says no.2 , the no. 3 item is shown at the list starts with 0

air

In [85]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
print(mylist[0])

water

In [86]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']

mylist[2] = 'oxygen'     # It is very easy to change the item (from air to oxygen)     -> Replacing
print(mylist)

['water', 'food', 'oxygen', 'games', 'house', 'bed', 'tv', 'soap']

In [87]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
print(mylist[1:4])

['food', 'air', 'games']

In [88]:
nums = ['1','3','5','7','9']
words =['one','three','five','seven','nine']
print(nums + words)

['1', '3', '5', '7', '9', 'one', 'three', 'five', 'seven', 'nine']

In [89]:
nums = ['1','3','5','7','9']
words =['one','three','five','seven','nine']
print(nums[1] + words[1])

3three

In [90]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']

mylist.append('cook')      # It is very easy to add items to the list
print(mylist)

['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap', 'cook']

In [91]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']

del mylist[7]     # It is also very easy to delete a item from the list
print(mylist)

['water', 'food', 'air', 'games', 'house', 'bed', 'tv']

In [92]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
nums = [1,2,3,4]
add = nums + mylist

print(add)

[1, 2, 3, 4, 'water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']

In [93]:
words = ['a','b']

print(words * 5)

['a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'a', 'b']

note that you cannot divide or subtract a list 

and you can only add a list to a list but not another variable, number or word

**Tuples are like lists, however items cannot be added or removed with a code**

In [94]:
what = (0,1,2,3,4)    # It is used because it is sometimes more useful to not be 
print(what[3])        # able to change items inside a tuples easily

3

Python map

In [95]:
favorite_sports = ['Ralph Williams, Football',    # This is a list
 'Michael Tippett, Basketball',
 'Edward Elgar, Baseball',
 'Rebecca Clarke, Netball',
 'Ethel Smyth, Badminton',
 'Frank Bridge, Rugby']

print(favorite_sports)

['Ralph Williams, Football', 'Michael Tippett, Basketball', 'Edward Elgar, Baseball', 'Rebecca Clarke, Netball', 'Ethel Smyth, Badminton', 'Frank Bridge, Rugby']

In [96]:
 favorite_sports = {'Ralph Williams' : 'Football',   # This is a map
 'Michael Tippett' : 'Basketball',
 'Edward Elgar' : 'Baseball',
 'Rebecca Clarke' : 'Netball',
 'Ethel Smyth' : 'Badminton',    # Uses {}
 'Frank Bridge' : 'Rugby'}

 print(favorite_sports)

{'Ralph Williams': 'Football', 'Michael Tippett': 'Basketball', 'Edward Elgar': 'Baseball', 'Rebecca Clarke': 'Netball', 'Ethel Smyth': 'Badminton', 'Frank Bridge': 'Rugby'}

In [97]:
 favorite_sports = {'Ralph Williams' : 'Football',  
 'Michael Tippett' : 'Basketball',
 'Edward Elgar' : 'Baseball',
 'Rebecca Clarke' : 'Netball',
 'Ethel Smyth' : 'Badminton',    # You can easily find the sport
 'Frank Bridge' : 'Rugby'}

 print(favorite_sports['Rebecca Clarke'])

Netball

In [98]:
favorite_sports = {'Ralph Williams' : 'Football',  
 'Michael Tippett' : 'Basketball',
 'Edward Elgar' : 'Baseball',
 'Rebecca Clarke' : 'Netball',
 'Ethel Smyth' : 'Badminton',    
 'Frank Bridge' : 'Rugby'}

del favorite_sports['Frank Bridge']    # Easy to delete a name/item

print(favorite_sports)

{'Ralph Williams': 'Football', 'Michael Tippett': 'Basketball', 'Edward Elgar': 'Baseball', 'Rebecca Clarke': 'Netball', 'Ethel Smyth': 'Badminton'}

In [99]:
favorite_sports = {'Ralph Williams' : 'Football',  
 'Michael Tippett' : 'Basketball',
 'Edward Elgar' : 'Baseball',
 'Rebecca Clarke' : 'Netball',
 'Ethel Smyth' : 'Badminton',    
 'Frank Bridge' : 'Rugby'}

favorite_sports['Ethel Smyth']= 'Hockey'

print(favorite_sports)

{'Ralph Williams': 'Football', 'Michael Tippett': 'Basketball', 'Edward Elgar': 'Baseball', 'Rebecca Clarke': 'Netball', 'Ethel Smyth': 'Hockey', 'Frank Bridge': 'Rugby'}

In [100]:
favorite_sports = {'Ralph Williams' : 'Football',  
 'Michael Tippett' : 'Basketball',
 'Edward Elgar' : 'Baseball',
 'Rebecca Clarke' : 'Netball',
 'Ethel Smyth' : 'Badminton',    
 'Frank Bridge' : 'Rugby'}           # Adding two maps does not work

favorite_colors = {'Malcolm Warner' : 'Pink polka dots',
 'James Baxter' : 'Orange stripes',
 'Sue Lee' : 'Purple paisley'}

# print(favorite_sports + favorite_colors)

Programming puzzles (pg 41)



***1: Favorites***

Make a list of your favorite hobbies and give the list the variable
name games. Now make a list of your favorite foods and name the
variable foods. Join the two lists and name the result favorites.
Finally, print the variable favorites.

In [101]:
games = ['videogames','badminton','cycling']
foods = ['pizza','burger','friedchicken']
favorites = games + foods
print(favorites)

['videogames', 'badminton', 'cycling', 'pizza', 'burger', 'friedchicken']

***2: Counting Combatants***

If there are 3 buildings with 25 ninjas hiding on each roof and
2 tunnels with 40 samurai hiding inside each tunnel, how many
ninjas and samurai are about to do battle? (You can do this with
one equation in the Python shell.)

In [102]:
print((3*25)+(2*40))

155

***3: Greetings!***

Create two variables: one that points to your first name and
one that points to your last name. Now create a string and use
placeholders to print your name with a message using those two
variables, such as “Hi there, Brando Ickett!”

In [103]:
name1 ='Mehrab'
name2 ='Rahman'
string ='Hi there, %s %s'
print(string %(name1,name2) )

Hi there, Mehrab Rahman

#Chapter 4 - Drawing  with turtles

 ***Skipped***    - hard to use turtle in colab

# Chapter 5 - Asking Questions with if and else

If Statments

In [104]:
age = 14       # This is an 'if' statement
if age > 10:      # Don't forgetg to add the semicolon :
  print('you are very old indeed')     # Always leave four spaces/tab before print or else
                                       # syntax error will occur as the code does not alline

you are very old indeed

In [105]:
 age = 9

 if age < 10:
   print('You are too young!')
   print('You shall not pass!')
   print('Why are you still here?')

You are too young!
You shall not pass!
Why are you still here?

In [106]:
age = 10
if age == 10:
  print('perfect!')

perfect!

In [107]:
age = 14
if age >= 14:
  print('What is 123+123')

What is 123+123

***If-then-Else Statement***

In [108]:
age = 10
if age <= 10:
  print('You are too young')
else:                                     # Dont forget : after 'else'
  print('You can keep on readinng this')

You are too young

In [109]:
age = 14
if age <= 10:
  print('You are too young')
else:                                     
  print('You can keep on readinng this')

You can keep on readinng this

***if and elif Statements***

elif means else if.      
This is used as elif can be repeated unlike if

In [110]:
joke = 0                   # Joke list

if joke == 1:
  print('What’s the best thing about Switzerland?')
  print('I don’t know, but the flag is a big plus.')
elif joke == 2:
  print('Why do we tell actors to “break a leg?”')
  print('Because every play has a cast.')
elif joke == 3:
  print('Heard about the new restaurant called Karma?')
  print('There’s no menu: You get what you deserve.')
elif joke == 4:
  print('Did you hear about the actor who fell through the floorboards?')
  print('He was just going through a stage.')
elif joke == 5:
  print('Did you hear about the claustrophobic astronaut?')
  print('He just needed a little space.')
elif joke == 6:
  print('''Why don’t scientists trust atoms? 
Because they make up everything.''')
elif joke == 7:
  print('''Why should the number 288 never be mentioned?
It’s two gross. - 1 gross is 144''')
else: 
  print('Joke list from 1 to 7')

Joke list from 1 to 7

You can use 'or' and 'and' to produce simpler and shorter codes

In [111]:
age = 10       

if age == 10 or age == 11 or age == 12 or age == 13:    
  print('What is 13 + 49 + 84 + 155 + 97? A headache!')
else:
  print('You do not meet the age requirements!')

What is 13 + 49 + 84 + 155 + 97? A headache!

In [112]:
age =  12

if age >= 10 and age <= 15:
  print('So you are interested to learn coding?')
else:
  print('Sorry your age does not meet the requirements :(')

So you are interested to learn coding?

0 is a number. None is not a number

In [113]:
num = None
print(num)

None

In [114]:
num = None
if num == None:
  print('None does not have a value')

None does not have a value

You cannot add a string to if

In [115]:
num = 10
if num == 10: 
  print('This is a number')

This is a number

In [116]:
num = '10'      # Nothing runs as this is a string and not a number 
if num == 10:        
  print('This is a string')

To solve this problem, we need to convert it using *int*.  This is useful in the future.   *int* converts a string into a number

In [117]:
num = '10'      
new_num = int(num)    # Use int(-)

if new_num == 10:        
  print('This is a string')

This is a string

To convert a number into a string, we use *str*

In [118]:
num = 10
new_num = str(num)

print(new_num + ' wow')   # Numbers and strings dont go together so we can see that new num is a string

10 wow

However, you will get an error if you try to convert a decimal as it only accepts integer(whole no.). So you must use float

In [119]:
num = '10.5'
new_num = float(num)
print(new_num)

10.5

You will get a ValueError if you try converting a string that does not contain a number

***Programming puzzle - pg 65***

***1: Are You Rich?***

What do you think the following code will do? Try to figure out
the answer without typing it into the shell, and then check your
answer.

In [120]:
money = 2000
if money > 1000:
 print("I'm rich!!")
else:
 print("I'm not rich!!")
 print("But I might be later...")

I'm rich!!

The programme checks if you are rich. If you have more than 1000 money, you are considered rich.

***2: Twinkies!***

Create an if statement that checks whether a number of Twinkies
(in the variable twinkies) is less than 100 or greater than 500. Your
program should print the message “Too few or too many” if the
condition is true.

In [121]:
twinkies = 500
if twinkies < 100 or twinkies > 500:
  print('Too few or too many')

***3: Just the Right Number***

Create an if statement that checks whether the amount of money
contained in the variable money is between 100 and 500 or between
1,000 and 5,000.

In [122]:
money = 1005
if money > 100 and money < 500:
  print('Money between 100 and 500')
elif money > 1000 and money < 5000:
  print('Money between 1000 and 5000')

Money between 1000 and 5000

***4: I Can Fight Those Ninjas***
Create an if statement that prints the string “That’s too many”
if the variable ninjas contains a number that’s less than 50, prints
“It’ll be a struggle, but I can take ’em” if it’s less than 30, and
prints “I can fight those ninjas!” if it’s less than 10. You might
try out your code with: ninjas = 5

In [123]:
ninjas = 9
if ninjas < 50 and ninjas >= 30:
  print('That’s too many')
elif ninjas < 30 and ninjas >= 10:
  print('''It’ll be a struggle, but I can take ’em''')
elif ninjas < 10:
  print('I can fight those ninjas!')

I can fight those ninjas!

# Chapter 6 - Going loopy

for loops repeat a set of codes a number of times until it is complete. This can help us reduce the amount of codes we need to write if we need to repeat a set of codes multiple times.

In [124]:
for x in range(0,5):   # Don't forget :
  print('hello')

hello
hello
hello
hello
hello

In [125]:
print(list(range(10,20)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

The code is telling Python to 

start counting from 0 and stop before reaching 5 and 

for each number we count, store the value in the variable x.

In [126]:
for x in range(0,5):
  print('hello %s' % x)

hello 0
hello 1
hello 2
hello 3
hello 4

In [127]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
for i in mylist:    # The code is asking Python to store each mylist variable in i
  print(i)

water
food
air
games
house
bed
tv
soap

In [128]:
foodlist = ['water','mango','apple']
for i in foodlist:
  print(i)    # This command prints two of each item in the list
  print(i)    # Dont forget about indentation error

water
water
mango
mango
apple
apple

In [129]:
found_coins = 20
magic_coins = 70
stolen_coins = 3
coins = found_coins
for week in range(1, 53):
  coins = coins + magic_coins - stolen_coins
  print('Week %s = %s' % (week, coins))

Week 1 = 87
Week 2 = 154
Week 3 = 221
Week 4 = 288
Week 5 = 355
Week 6 = 422
Week 7 = 489
Week 8 = 556
Week 9 = 623
Week 10 = 690
Week 11 = 757
Week 12 = 824
Week 13 = 891
Week 14 = 958
Week 15 = 1025
Week 16 = 1092
Week 17 = 1159
Week 18 = 1226
Week 19 = 1293
Week 20 = 1360
Week 21 = 1427
Week 22 = 1494
Week 23 = 1561
Week 24 = 1628
Week 25 = 1695
Week 26 = 1762
Week 27 = 1829
Week 28 = 1896
Week 29 = 1963
Week 30 = 2030
Week 31 = 2097
Week 32 = 2164
Week 33 = 2231
Week 34 = 2298
Week 35 = 2365
Week 36 = 2432
Week 37 = 2499
Week 38 = 2566
Week 39 = 2633
Week 40 = 2700
Week 41 = 2767
Week 42 = 2834
Week 43 = 2901
Week 44 = 2968
Week 45 = 3035
Week 46 = 3102
Week 47 = 3169
Week 48 = 3236
Week 49 = 3303
Week 50 = 3370
Week 51 = 3437
Week 52 = 3504

In [130]:
raws1 = 20
raws2 = 19
for x in range(0,10):
  totals = (raws1*x)+(raws2*x)
  print( x + totals)

0
40
80
120
160
200
240
280
320
360

While loops ->

In [131]:
step = 0
while step < 10:   # Command for while loop  
                    # This programme will run until step reacher 9 (< 10)
  step = step + 1   # Pythin will execute the rest of the command  until step reaches 9
  print(step)

1
2
3
4
5
6
7
8
9
10

In [132]:
step = 0
while step < 10:
  step = step +1
  print(step)       # break is the keyword to jump out of the loop
  if step == 8:      # In this case the loop will end once step=8 
    break           # The code will stop once it has done 8 loops

1
2
3
4
5
6
7
8

In [133]:
x = 45 
y = 80         # While loop is usually used together with other variables
while x < 50 and y < 100:
  x = x + 1 
  y = y + 1 
  print(x,y)

46 81
47 82
48 83
49 84
50 85

***1: The Hello Loop***

What do you think the following code will do? First, guess what
will happen, and then run the code in Python to see if you were
right.

In [134]:
for x in range(0, 20):
 print('hello %s' % x)
 if x < 9:
  break

hello 0

The code will say hello 0

it will run once as when x is less than 9 which is when you run x = 0



***2: Even Numbers***

Create a loop that prints even numbers until it reaches your year
of age or, if your age is an odd number, prints out odd numbers
until it reaches your age. For example, it might print out something like this:

2

4

6

8

10

12

14

In [135]:
x = 0
while x < 100:
  x = x + 2
  print(x)
  if x == 14:
    break

2
4
6
8
10
12
14

***3: My Five Favorite Ingredients***
Create a list containing five different sandwich ingredients, such
as the following:

*ingredients = ['snails', 'leeches', 'gorilla belly-button lint',
 'caterpillar eyebrows', 'centipede toes']*

**Now create a loop that prints out the list (including the numbers):**


1 snails

2 leeches

3 gorilla belly-button lint

4 caterpillar eyebrows

5 centipede toes

In [136]:
ingredients = ['snails', 'leeches', 'gorilla belly-button lint', 'caterpillar eyebrows', 'centipede toes']

for x in range(0,5):
  y = x 
  x = x + 1
  print( x, ingredients[y])

1 snails
2 leeches
3 gorilla belly-button lint
4 caterpillar eyebrows
5 centipede toes

***4: Your Weight on the Moon***

If you were standing on the moon right now, your weight would be
16.5 percent of what it is on Earth. You can calculate that by multiplying your Earth weight by 0.165.
If you gained a kilo in weight every year for the next 15 years,
what would your weight be when you visited the moon each year
and at the end of the 15 years? Write a program using a for loop
that prints your moon weight for each year.

In [137]:
weight = 60
for x in range(1,16):
  print( x, (weight+x*1)*0.165)

1 10.065000000000001
2 10.23
3 10.395000000000001
4 10.56
5 10.725
6 10.89
7 11.055
8 11.22
9 11.385
10 11.55
11 11.715
12 11.88
13 12.045
14 12.21
15 12.375

# Chapter 7 - Recycling Your Code with Functions and Modules

Functions are a set of code that tell Python to do something. They are one way to reuse code — you can use functions in your
programs again and again.   ***It is like a set of instructions***

In [138]:
def testfunc(myname):   # You start a function by writing def, then the name you want to give the 
                        # function then write the parametre (special variable) inside the bracket
 print('hello %s' % myname)      # After that you give the instructions for what the function
                                 # will do.


testfunc('mehrab')       # Now you write the function name and set values to the parametres

hello mehrab

Parametres are special variables that can only be used inside a function.

In [139]:
def name(name1,name2):
  print('hello %s %s' %(name1,name2))

name('mehrab','rahman')

hello mehrab rahman

In [140]:
def savings(pocket_money, paper_route, spending):
 return pocket_money + paper_route - spending   # Return is used to return the function

print(savings(10,15,20))

5

In [141]:
def vartest():         # This is a function that uses variables instead of parametres
  var1 = 10            # However this variable still cant be used outside of the function
  var2 = 20
  return var1 + var2

print(vartest())

30

In [142]:
var3 = 30
def vartest():
  var1 = 10
  var2 = 20
  return var1 + var2 + var3

print(vartest())

60

In [143]:
def moonweight(weight,increase,year):
  return (weight+increase*year)*0.165

print(moonweight(60,1,15))

12.375

In [144]:
def moonweight(weight,increase,year):
  for x in range(1,year+1):
    monw = (weight+increase*x)*0.165
    print('year %s = %s' %(x,monw))

moonweight(60,1,15)

year 1 = 10.065000000000001
year 2 = 10.23
year 3 = 10.395000000000001
year 4 = 10.56
year 5 = 10.725
year 6 = 10.89
year 7 = 11.055
year 8 = 11.22
year 9 = 11.385
year 10 = 11.55
year 11 = 11.715
year 12 = 11.88
year 13 = 12.045
year 14 = 12.21
year 15 = 12.375

***Modules***

Modules are used to group functions, variables, and other things
together into larger, more powerful programs. Some modules are
built in to Python, and you
can download other modules
separately.

In [145]:
import time           # For time
print(time.asctime())

Sun Dec  5 05:47:54 2021

In [146]:
import sys                               # Use this in other IDLE
print(sys.stdin.readline())              # Colab cannot use this

name = input('What is your name: ')      # Colab uses input only
print('hello %s'% name)

What is your name: m
hello m

In [147]:


def silly_age_joke():
 age1 = input('How old are you?: ')
 age = int(age1)                    # Use int to convert the string into a integer
 if age >= 10 and age <= 13:
  print('What is 13 + 49 + 84 + 155 + 97? A headache!')
 else:
  print('Huh?')

silly_age_joke()

How old are you?: 14
Huh?

Programming puzzles have been done above  (pg 90)

# Chapter 8 - How to Use Classes and Objects

Classes are a category of things

Objects are items that can be catagorised into classes

Classes are used to organise things into classes

In [148]:
class Things:    # Things is the name of the class
  pass        # pass to let Python know that we are not going to give any more information

class Inanimate(Things):  # If a class is part of another class it is a children
  pass                    # and the other class is the parent. In this case Inanimate is the 
                          # children of Things and Things is the parent
class Animate(Things):
  pass

class Animals(Animate):
  pass 

class Mammles(Animals):
  pass

class Dog(Mammles):
  pass


stan = Dog()       # The name of the dog is stan. This is how we add an object to a class
                   # This code tells Python to create an object in the

In [149]:
class Things:             # Refer to pg 95
  pass

class Inanimate(Things):
  pass

class Animate(Things):
  pass

class Animals(Animate):
  def breathe(self):     # Defining a function self parameter is a way for one function 
    print('breathing')   # in the class to call another function in the
                         # class (and in the parent class)
  def move(self):
    print('moving')

  def eat_food(self):
    print('eating food')

class Mammals(Animals):
  def feed_young_with_milk(self):
    pass

class Dog(Mammals):
  def eat_dog_food(self):           # The dog has all the characteristics of animal and mammal
    pass                            # The dog can still use the function of animals and mammal

stan = Dog()
stan.move()


ralph = Dog()     # New object
ralph.move()

moving
moving

In [151]:

 
class Giraffes:
  def move(self):
   print('move')
  
  def find_food(self):           # You can make a function do another function using self
    self.move()                  # More example in #1 programming puzzle in chap 8
    print("I've found food!")
    self.eat_food()
  def eat_leaves_from_trees(self):
    self.eat_food()
  def dance_a_jig(self):
    self.move()
    self.move()
    self.move()
    self.move()

reginald = Giraffes()
reginald.dance_a_jig()

move
move
move
move

Initializing an object

We initialize an object when we are getting it ready to be used

e.g. when you want to set the number of spots on the dog, we need to initialize it

We need to create a __init __function

The init function is a way to set the properties for an
object when the object is first created, and Python will automatically call this function when we create a new object.

In [152]:
class Dog:
  def __init__(self,spots):
    self.dog_spots = spots

tom = Dog(100)
print(tom.dog_spots)

dan = Dog(57)
print(dan.dog_spots)

100
57

Programming puzzles - pg 107

***1: The Giraffe Shuffle***

>Add functions to the Giraffes class to move the giraffe’s left and
right feet forward and backward. A function for moving the left
foot forward might look like this:

def left_Foot_Forward(self):

print('left foot forward')

>Then create a function called dance to teach Reginald to dance
(the function will call the four foot functions you’ve just created).
The result of calling this new function will be a simple dance:

reginald = Giraffes()

reginald.dance()

left foot forward

left foot back

right foot forward

right foot back

left foot back

right foot back

right foot forward

left foot forward

In [153]:

class Giraffes:
  def left_foot_forward(self):
    print('left foot forward')

  def left_foot_back(self):
    print('left foot back')

  def right_foot_forward(self):
    print('right foot forward')

  def right_foot_back(self):
    print('right foor back')


  def dance(self):
    self.left_foot_forward()
    self.left_foot_back()
    self.right_foot_forward()
    self.right_foot_back()
    self.left_foot_back()
    self.right_foot_back()
    self.right_foot_forward()
    self.left_foot_forward()

reginald = Giraffes()
reginald.dance()

left foot forward
left foot back
right foot forward
right foor back
left foot back
right foor back
right foot forward
left foot forward