<a href="https://colab.research.google.com/github/Mehrabwv/python/blob/main/Welcome_to_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ingredients = ['snails', 'leeches', 'gorilla belly-button lint',
 'caterpillar eyebrows', 'centipede toes']
number = ['1','2','3','4','5']
for x in range(0,5):
  y = 1 + x
  print( y , ingredients[x])

1 snails
2 leeches
3 gorilla belly-button lint
4 caterpillar eyebrows
5 centipede toes

In [ ]:
weight = 60
for y in range(1,16):
  weight=weight+1
  print(y,weight*0.165)

1 10.065000000000001
2 10.23
3 10.395000000000001
4 10.56
5 10.725
6 10.89
7 11.055
8 11.22
9 11.385
10 11.55
11 11.715
12 11.88
13 12.045
14 12.21
15 12.375

In [ ]:
def moonweight(weight,year,increase):
  return (weight+(increase*year))*0.165


print(moonweight(60,15,1))

12.375

In [ ]:
weight1= input('What is your weight now?: ')
increase1= input('How much increase do you expect?: ')
year1= input('In how many years?: ')

weight = int(weight1)
increase = int(increase1)
yeare = int(year1)
year2 = yeare+15a


for year2 in range(0,year2):
  moonweight=(weight+(increase*year2))*0.165
  print(year2,moonweight)

What is your weight now?: 60
How much increase do you expect?: 1
In how many years?: 15
0 9.9
1 10.065000000000001
2 10.23
3 10.395000000000001
4 10.56
5 10.725
6 10.89
7 11.055
8 11.22
9 11.385
10 11.55
11 11.715
12 11.88
13 12.045
14 12.21
15 12.375

# ***Python For Kids***

# Chapter 1 - Not all snakes slither
# (Basics)

In [1]:
print('How are you?')

How are you?

In [2]:
print("hello world")

hello world

In [3]:
print('''hello world''')

hello world

#Chapter 2 - Calculations and Variables
#Calculations

In [5]:
8*3.57   #8 times 3.57 = 28.56

28.56

Pg 16 - puzzle

In [9]:
10*365

3650

In [11]:
20+3650

3670

In [12]:
3*52

156

In [13]:
3670-156

3514

BODMAS


add
5 to 30, and then multiply the result
by 20

In [1]:
(5+30)*20

700

 Adding 5 to 30 gives 35.

 Multiplying 35 by 20 gives 700.

 Dividing 700 by 10 gives the final answer of 70.

In [2]:
 ((5 + 30) * 20) / 10

70.0

Variables

In [3]:
fred=100
print(fred)

100

In [4]:
fred=100
john=fred+5
print(john)

105

In [6]:
# You cant start a variable with a number!
number_of_coins = 200
print(number_of_coins)

200

Pg 21 - more info

In [8]:
 20 + 10 * 365 - 3 * 52

3514

In [11]:
found_coins = 20
magic_coins = 10
stolen_coins = 3

found_coins + magic_coins * 365 - stolen_coins * 52

3514

In [12]:
found_coins = 20
magic_coins = 10

stolen_coins = 2   # Very easy to change the variable if neeeded

found_coins + magic_coins * 365 - stolen_coins * 52

3566

# Chapter 3 - Strings, Lists, Tuples, and Maps

A string is a text

In [13]:
fred = "What is 1 + 1?"
print(fred)

What is 1 + 1?

In [14]:
#To create multiple line string, use '''
fred = '''How do dinosaurs pay their bills?
With tyrannosaurus checks!'''
print(fred)

How do dinosaurs pay their bills?
With tyrannosaurus checks!