<a href="https://colab.research.google.com/github/Mehrabwv/python/blob/main/Welcome_to_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ingredients = ['snails', 'leeches', 'gorilla belly-button lint',
 'caterpillar eyebrows', 'centipede toes']
number = ['1','2','3','4','5']
for x in range(0,5):
  y = 1 + x
  print( y , ingredients[x])

1 snails
2 leeches
3 gorilla belly-button lint
4 caterpillar eyebrows
5 centipede toes

In [ ]:
ingredients = ['snails', 'leeches', 'gorilla belly-button lint',
 'caterpillar eyebrows', 'centipede toes']
number = ['1','2','3','4','5']
for x in range(0,5):
  y = 1 + x
  print( y , ingredients[x])

1 snails
2 leeches
3 gorilla belly-button lint
4 caterpillar eyebrows
5 centipede toes

In [ ]:
weight = 60
for y in range(1,16):
  weight=weight+1
  print(y,weight*0.165)

1 10.065000000000001
2 10.23
3 10.395000000000001
4 10.56
5 10.725
6 10.89
7 11.055
8 11.22
9 11.385
10 11.55
11 11.715
12 11.88
13 12.045
14 12.21
15 12.375

In [ ]:
def moonweight(weight,year,increase):
  return (weight+(increase*year))*0.165


print(moonweight(60,15,1))

12.375

In [63]:
weight1= input('What is your weight now?: ')
increase1= input('How much increase do you expect?: ')
year1= input('In how many years?: ')

weight = int(weight1)
increase = int(increase1)
yeare = int(year1)
year2 = yeare+15


for year2 in range(0,year2):
  moonweight=(weight+(increase*year2))*0.165
  print(year2,moonweight)

KeyboardInterrupt: ignored

# ***Python For Kids***

# Chapter 1 - Not all snakes slither
# (Basics)

In [ ]:
print('How are you?')

In [ ]:
print("hello world")

In [ ]:
print('''hello world''')

#Chapter 2 - Calculations and Variables
#Calculations

In [ ]:
8*3.57   #8 times 3.57 = 28.56

Pg 16 - puzzle

In [ ]:
10*365

In [ ]:
20+3650

In [ ]:
3*52

In [ ]:
3670-156

BODMAS


add
5 to 30, and then multiply the result
by 20

In [ ]:
(5+30)*20

 Adding 5 to 30 gives 35.

 Multiplying 35 by 20 gives 700.

 Dividing 700 by 10 gives the final answer of 70.

In [ ]:
 ((5 + 30) * 20) / 10

Variables

In [ ]:
fred=100
print(fred)

In [ ]:
fred=100
john=fred+5
print(john)

In [ ]:
# You cant start a variable with a number!
number_of_coins = 200
print(number_of_coins)

Pg 21 - more info

In [ ]:
 20 + 10 * 365 - 3 * 52

In [ ]:
found_coins = 20
magic_coins = 10
stolen_coins = 3

found_coins + magic_coins * 365 - stolen_coins * 52

In [ ]:
found_coins = 20
magic_coins = 10

stolen_coins = 2   # Very easy to change the variable if neeeded

found_coins + magic_coins * 365 - stolen_coins * 52

# Chapter 3 - Strings, Lists, Tuples, and Maps

A string is a text

In [ ]:
fred = "What is 1 + 1?"
print(fred)

In [ ]:
#To create multiple line string, use '''
fred = '''How do dinosaurs pay their bills?
With tyrannosaurus checks!'''
print(fred)

In [ ]:
silly_string = '''He said, "Aren't can't shouldn't wouldn't."'''
print(silly_string)

In [ ]:
single_quote_str = 'He said, "Aren\'t can\'t shouldn\'t wouldn\'t."'
print(single_quote_str)

In [ ]:
myname = 'mehrab'
string = 'hello my name is %s '    #Dont forget to put %s or error will occur
print(string % myname)

In [ ]:
nock = 'what is %s + %s?'
print(nock %(1,5))

Multiplying strings  - pg 31

In [ ]:
print(10*'hello ')

Strings

In [ ]:
mylist = 'water, food, air, games, house, bed, tv, soap'     # This is a variable
print(mylist)

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
print(mylist)

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
print(mylist[2])    # Although it says no.2 , the no. 3 item is shown at the list starts with 0

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
print(mylist[0])

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']

mylist[2] = 'oxygen'     # It is very easy to change the item (from air to oxygen)     -> Replacing
print(mylist)

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
print(mylist[1:4])

In [ ]:
nums = ['1','3','5','7','9']
words =['one','three','five','seven','nine']
print(nums + words)

In [ ]:
nums = ['1','3','5','7','9']
words =['one','three','five','seven','nine']
print(nums[1] + words[1])

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']

mylist.append('cook')      # It is very easy to add items to the list
print(mylist)

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']

del mylist[7]     # It is also very easy to delete a item from the list
print(mylist)

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
nums = [1,2,3,4]
add = nums + mylist

print(add)

In [ ]:
words = ['a','b']

print(words * 5)

note that you cannot divide or subtract a list 

and you can only add a list to a list but not another variable, number or word

**Tuples are like lists, however items cannot be added or removed with a code**

In [ ]:
what = (0,1,2,3,4)    # It is used because it is sometimes more useful to not be 
print(what[3])        # able to change items inside a tuples easily

Python map

In [ ]:
favorite_sports = ['Ralph Williams, Football',    # This is a list
 'Michael Tippett, Basketball',
 'Edward Elgar, Baseball',
 'Rebecca Clarke, Netball',
 'Ethel Smyth, Badminton',
 'Frank Bridge, Rugby']

print(favorite_sports)

In [ ]:
 favorite_sports = {'Ralph Williams' : 'Football',   # This is a map
 'Michael Tippett' : 'Basketball',
 'Edward Elgar' : 'Baseball',
 'Rebecca Clarke' : 'Netball',
 'Ethel Smyth' : 'Badminton',    # Uses {}
 'Frank Bridge' : 'Rugby'}

 print(favorite_sports)

In [ ]:
 favorite_sports = {'Ralph Williams' : 'Football',  
 'Michael Tippett' : 'Basketball',
 'Edward Elgar' : 'Baseball',
 'Rebecca Clarke' : 'Netball',
 'Ethel Smyth' : 'Badminton',    # You can easily find the sport
 'Frank Bridge' : 'Rugby'}

 print(favorite_sports['Rebecca Clarke'])

In [ ]:
favorite_sports = {'Ralph Williams' : 'Football',  
 'Michael Tippett' : 'Basketball',
 'Edward Elgar' : 'Baseball',
 'Rebecca Clarke' : 'Netball',
 'Ethel Smyth' : 'Badminton',    
 'Frank Bridge' : 'Rugby'}

del favorite_sports['Frank Bridge']    # Easy to delete a name/item

print(favorite_sports)

In [ ]:
favorite_sports = {'Ralph Williams' : 'Football',  
 'Michael Tippett' : 'Basketball',
 'Edward Elgar' : 'Baseball',
 'Rebecca Clarke' : 'Netball',
 'Ethel Smyth' : 'Badminton',    
 'Frank Bridge' : 'Rugby'}

favorite_sports['Ethel Smyth']= 'Hockey'

print(favorite_sports)

In [ ]:
favorite_sports = {'Ralph Williams' : 'Football',  
 'Michael Tippett' : 'Basketball',
 'Edward Elgar' : 'Baseball',
 'Rebecca Clarke' : 'Netball',
 'Ethel Smyth' : 'Badminton',    
 'Frank Bridge' : 'Rugby'}           # Adding two maps does not work

favorite_colors = {'Malcolm Warner' : 'Pink polka dots',
 'James Baxter' : 'Orange stripes',
 'Sue Lee' : 'Purple paisley'}

print(favorite_sports + favorite_colors)

Programming puzzles (pg 41)



***1: Favorites***

Make a list of your favorite hobbies and give the list the variable
name games. Now make a list of your favorite foods and name the
variable foods. Join the two lists and name the result favorites.
Finally, print the variable favorites.

In [ ]:
games = ['videogames','badminton','cycling']
foods = ['pizza','burger','friedchicken']
favorites = games + foods
print(favorites)

***2: Counting Combatants***

If there are 3 buildings with 25 ninjas hiding on each roof and
2 tunnels with 40 samurai hiding inside each tunnel, how many
ninjas and samurai are about to do battle? (You can do this with
one equation in the Python shell.)

In [ ]:
print((3*25)+(2*40))

***3: Greetings!***

Create two variables: one that points to your first name and
one that points to your last name. Now create a string and use
placeholders to print your name with a message using those two
variables, such as “Hi there, Brando Ickett!”

In [ ]:
name1 ='Mehrab'
name2 ='Rahman'
string ='Hi there, %s %s'
print(string %(name1,name2) )

#Chapter 4 - Drawing  with turtles

 ***Skipped***    - hard to use turtle in colab

# Chapter 5 - Asking Questions with if and else

If Statments

In [ ]:
age = 14       # This is an 'if' statement
if age > 10:      # Don't forgetg to add the semicolon :
  print('you are very old indeed')     # Always leave four spaces/tab before print or else
                                       # syntax error will occur as the code does not alline

In [ ]:
 age = 9

 if age < 10:
   print('You are too young!')
   print('You shall not pass!')
   print('Why are you still here?')

In [ ]:
age = 10
if age == 10:
  print('perfect!')

In [ ]:
age = 14
if age >= 14:
  print('What is 123+123')

***If-then-Else Statement***

In [ ]:
age = 10
if age <= 10:
  print('You are too young')
else:                                     # Dont forget : after 'else'
  print('You can keep on readinng this')

In [ ]:
age = 14
if age <= 10:
  print('You are too young')
else:                                     
  print('You can keep on readinng this')

***if and elif Statements***

elif means else if.      
This is used as elif can be repeated unlike if

In [ ]:
joke = 0                   # Joke list

if joke == 1:
  print('What’s the best thing about Switzerland?')
  print('I don’t know, but the flag is a big plus.')
elif joke == 2:
  print('Why do we tell actors to “break a leg?”')
  print('Because every play has a cast.')
elif joke == 3:
  print('Heard about the new restaurant called Karma?')
  print('There’s no menu: You get what you deserve.')
elif joke == 4:
  print('Did you hear about the actor who fell through the floorboards?')
  print('He was just going through a stage.')
elif joke == 5:
  print('Did you hear about the claustrophobic astronaut?')
  print('He just needed a little space.')
elif joke == 6:
  print('''Why don’t scientists trust atoms? 
Because they make up everything.''')
elif joke == 7:
  print('''Why should the number 288 never be mentioned?
It’s two gross. - 1 gross is 144''')
else: 
  print('Joke list from 1 to 7')

You can use 'or' and 'and' to produce simpler and shorter codes

In [ ]:
age = 10       

if age == 10 or age == 11 or age == 12 or age == 13:    
  print('What is 13 + 49 + 84 + 155 + 97? A headache!')
else:
  print('You do not meet the age requirements!')

In [ ]:
age =  12

if age >= 10 and age <= 15:
  print('So you are interested to learn coding?')
else:
  print('Sorry your age does not meet the requirements :(')

0 is a number. None is not a number

In [ ]:
num = None
print(num)

In [ ]:
num = None
if num == None:
  print('None does not have a value')

You cannot add a string to if

In [ ]:
num = 10
if num == 10: 
  print('This is a number')

In [ ]:
num = '10'      # Nothing runs as this is a string and not a number 
if num == 10:        
  print('This is a string')

To solve this problem, we need to convert it using *int*.  This is useful in the future.   *int* converts a string into a number

In [ ]:
num = '10'      
new_num = int(num)    # Use int(-)

if new_num == 10:        
  print('This is a string')

To convert a number into a string, we use *str*

In [ ]:
num = 10
new_num = str(num)

print(new_num + ' wow')   # Numbers and strings dont go together so we can see that new num is a string

However, you will get an error if you try to convert a decimal as it only accepts integer(whole no.). So you must use float

In [ ]:
num = '10.5'
new_num = float(num)
print(new_num)

You will get a ValueError if you try converting a string that does not contain a number

***Programming puzzle - pg 65***

***1: Are You Rich?***

What do you think the following code will do? Try to figure out
the answer without typing it into the shell, and then check your
answer.

In [ ]:
money = 2000
if money > 1000:
 print("I'm rich!!")
else:
 print("I'm not rich!!")
 print("But I might be later...")

The programme checks if you are rich. If you have more than 1000 money, you are considered rich.

***2: Twinkies!***

Create an if statement that checks whether a number of Twinkies
(in the variable twinkies) is less than 100 or greater than 500. Your
program should print the message “Too few or too many” if the
condition is true.

In [ ]:
twinkies = 500
if twinkies < 100 or twinkies > 500:
  print('Too few or too many')

***3: Just the Right Number***

Create an if statement that checks whether the amount of money
contained in the variable money is between 100 and 500 or between
1,000 and 5,000.

In [ ]:
money = 1005
if money > 100 and money < 500:
  print('Money between 100 and 500')
elif money > 1000 and money < 5000:
  print('Money between 1000 and 5000')

***4: I Can Fight Those Ninjas***
Create an if statement that prints the string “That’s too many”
if the variable ninjas contains a number that’s less than 50, prints
“It’ll be a struggle, but I can take ’em” if it’s less than 30, and
prints “I can fight those ninjas!” if it’s less than 10. You might
try out your code with: ninjas = 5

In [ ]:
ninjas = 9
if ninjas < 50 and ninjas >= 30:
  print('That’s too many')
elif ninjas < 30 and ninjas >= 10:
  print('''It’ll be a struggle, but I can take ’em''')
elif ninjas < 10:
  print('I can fight those ninjas!')

# Chapter 6 - Going loopy

Loops repeat a set of codes a number of times until it is complete. This can help us reduce the amount of codes we need to write if we need to repeat a set of codes multiple times.

In [ ]:
for x in range(0,5):   # Don't forget :
  print('hello')

In [ ]:
print(list(range(10,20)))

The code is telling Python to 

start counting from 0 and stop before reaching 5 and 

for each number we count, store the value in the variable x.

In [ ]:
for x in range(0,5):
  print('hello %s' % x)

In [ ]:
mylist = ['water', 'food', 'air', 'games', 'house', 'bed', 'tv', 'soap']
for i in mylist:    # The code is asking Python to store each mylist variable in i
  print(i)

In [ ]:
foodlist = ['water','mango','apple']
for i in foodlist:
  print(i)    # This command prints two of each item in the list
  print(i)    # Dont forget about indentation error

In [ ]:
found_coins = 20
magic_coins = 70
stolen_coins = 3
coins = found_coins
for week in range(1, 53):
  coins = coins + magic_coins - stolen_coins
  print('Week %s = %s' % (week, coins))

In [ ]:
raws1 = 20
raws2 = 19
for x in range(0,10):
  totals = (raws1*x)+(raws2*x)
  print( x + totals)

While loops ->

In [10]:
step = 0
while step < 10:   # Command for while loop  
                    # This programme will run until step reacher 9 (< 10)
  step = step + 1   # Pythin will execute the rest of the command  until step reaches 9
  print(step)

1
2
3
4
5
6
7
8
9
10

In [12]:
step = 0
while step < 10:
  step = step +1
  print(step)       # break is the keyword to jump out of the loop
  if step == 8:      # In this case the loop will end once step=8 
    break           # The code will stop once it has done 8 loops

1
2
3
4
5
6
7
8

In [18]:
x = 45 
y = 80         # While loop is usually used together with other variables
while x < 50 and y < 100:
  x = x + 1 
  y = y + 1 
  print(x,y)

46 81
47 82
48 83
49 84
50 85

***1: The Hello Loop***

What do you think the following code will do? First, guess what
will happen, and then run the code in Python to see if you were
right.

In [21]:
for x in range(0, 20):
 print('hello %s' % x)
 if x < 9:
  break

hello 0

The code will say hello 0

it will run once as when x is less than 9 which is when you run x = 0



***2: Even Numbers***

Create a loop that prints even numbers until it reaches your year
of age or, if your age is an odd number, prints out odd numbers
until it reaches your age. For example, it might print out something like this:

2

4

6

8

10

12

14

In [30]:
x = 0
while x < 100:
  x = x + 2
  print(x)
  if x == 14:
    break

2
4
6
8
10
12
14